// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-btn-effect-name: 'bg_btn_effect';
$bg-btn-effect-x: 0px;
$bg-btn-effect-y: 382px;
$bg-btn-effect-offset-x: 0px;
$bg-btn-effect-offset-y: -382px;
$bg-btn-effect-width: 124px;
$bg-btn-effect-height: 50px;
$bg-btn-effect-total-width: 625px;
$bg-btn-effect-total-height: 605px;
$bg-btn-effect-image: '../img-sprite/sprite.png';
$bg-btn-effect: (0px, 382px, 0px, -382px, 124px, 50px, 625px, 605px, '../img-sprite/sprite.png', 'bg_btn_effect', );
$bg-btn-effect2-name: 'bg_btn_effect2';
$bg-btn-effect2-x: 0px;
$bg-btn-effect2-y: 272px;
$bg-btn-effect2-offset-x: 0px;
$bg-btn-effect2-offset-y: -272px;
$bg-btn-effect2-width: 100px;
$bg-btn-effect2-height: 100px;
$bg-btn-effect2-total-width: 625px;
$bg-btn-effect2-total-height: 605px;
$bg-btn-effect2-image: '../img-sprite/sprite.png';
$bg-btn-effect2: (0px, 272px, 0px, -272px, 100px, 100px, 625px, 605px, '../img-sprite/sprite.png', 'bg_btn_effect2', );
$bg-checkbox-off-name: 'bg_checkbox_off';
$bg-checkbox-off-x: 560px;
$bg-checkbox-off-y: 523px;
$bg-checkbox-off-offset-x: -560px;
$bg-checkbox-off-offset-y: -523px;
$bg-checkbox-off-width: 14px;
$bg-checkbox-off-height: 14px;
$bg-checkbox-off-total-width: 625px;
$bg-checkbox-off-total-height: 605px;
$bg-checkbox-off-image: '../img-sprite/sprite.png';
$bg-checkbox-off: (560px, 523px, -560px, -523px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'bg_checkbox_off', );
$bg-checkbox-on-name: 'bg_checkbox_on';
$bg-checkbox-on-x: 506px;
$bg-checkbox-on-y: 323px;
$bg-checkbox-on-offset-x: -506px;
$bg-checkbox-on-offset-y: -323px;
$bg-checkbox-on-width: 14px;
$bg-checkbox-on-height: 14px;
$bg-checkbox-on-total-width: 625px;
$bg-checkbox-on-total-height: 605px;
$bg-checkbox-on-image: '../img-sprite/sprite.png';
$bg-checkbox-on: (506px, 323px, -506px, -323px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'bg_checkbox_on', );
$bg-overwrite-off-name: 'bg_overwrite_off';
$bg-overwrite-off-x: 595px;
$bg-overwrite-off-y: 357px;
$bg-overwrite-off-offset-x: -595px;
$bg-overwrite-off-offset-y: -357px;
$bg-overwrite-off-width: 20px;
$bg-overwrite-off-height: 20px;
$bg-overwrite-off-total-width: 625px;
$bg-overwrite-off-total-height: 605px;
$bg-overwrite-off-image: '../img-sprite/sprite.png';
$bg-overwrite-off: (595px, 357px, -595px, -357px, 20px, 20px, 625px, 605px, '../img-sprite/sprite.png', 'bg_overwrite_off', );
$bg-overwrite-on-name: 'bg_overwrite_on';
$bg-overwrite-on-x: 595px;
$bg-overwrite-on-y: 297px;
$bg-overwrite-on-offset-x: -595px;
$bg-overwrite-on-offset-y: -297px;
$bg-overwrite-on-width: 20px;
$bg-overwrite-on-height: 20px;
$bg-overwrite-on-total-width: 625px;
$bg-overwrite-on-total-height: 605px;
$bg-overwrite-on-image: '../img-sprite/sprite.png';
$bg-overwrite-on: (595px, 297px, -595px, -297px, 20px, 20px, 625px, 605px, '../img-sprite/sprite.png', 'bg_overwrite_on', );
$bg-select-off-name: 'bg_select_off';
$bg-select-off-x: 530px;
$bg-select-off-y: 502px;
$bg-select-off-offset-x: -530px;
$bg-select-off-offset-y: -502px;
$bg-select-off-width: 15px;
$bg-select-off-height: 10px;
$bg-select-off-total-width: 625px;
$bg-select-off-total-height: 605px;
$bg-select-off-image: '../img-sprite/sprite.png';
$bg-select-off: (530px, 502px, -530px, -502px, 15px, 10px, 625px, 605px, '../img-sprite/sprite.png', 'bg_select_off', );
$bg-select-on-name: 'bg_select_on';
$bg-select-on-x: 555px;
$bg-select-on-y: 502px;
$bg-select-on-offset-x: -555px;
$bg-select-on-offset-y: -502px;
$bg-select-on-width: 15px;
$bg-select-on-height: 10px;
$bg-select-on-total-width: 625px;
$bg-select-on-total-height: 605px;
$bg-select-on-image: '../img-sprite/sprite.png';
$bg-select-on: (555px, 502px, -555px, -502px, 15px, 10px, 625px, 605px, '../img-sprite/sprite.png', 'bg_select_on', );
$bg-tooltip-name: 'bg_tooltip';
$bg-tooltip-x: 0px;
$bg-tooltip-y: 0px;
$bg-tooltip-offset-x: 0px;
$bg-tooltip-offset-y: 0px;
$bg-tooltip-width: 420px;
$bg-tooltip-height: 62px;
$bg-tooltip-total-width: 625px;
$bg-tooltip-total-height: 605px;
$bg-tooltip-image: '../img-sprite/sprite.png';
$bg-tooltip: (0px, 0px, 0px, 0px, 420px, 62px, 625px, 605px, '../img-sprite/sprite.png', 'bg_tooltip', );
$btn-dx-disabled-name: 'btn_dx_disabled';
$btn-dx-disabled-x: 332px;
$btn-dx-disabled-y: 330px;
$btn-dx-disabled-offset-x: -332px;
$btn-dx-disabled-offset-y: -330px;
$btn-dx-disabled-width: 55px;
$btn-dx-disabled-height: 22px;
$btn-dx-disabled-total-width: 625px;
$btn-dx-disabled-total-height: 605px;
$btn-dx-disabled-image: '../img-sprite/sprite.png';
$btn-dx-disabled: (332px, 330px, -332px, -330px, 55px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'btn_dx_disabled', );
$btn-dx-off-name: 'btn_dx_off';
$btn-dx-off-x: 422px;
$btn-dx-off-y: 469px;
$btn-dx-off-offset-x: -422px;
$btn-dx-off-offset-y: -469px;
$btn-dx-off-width: 55px;
$btn-dx-off-height: 22px;
$btn-dx-off-total-width: 625px;
$btn-dx-off-total-height: 605px;
$btn-dx-off-image: '../img-sprite/sprite.png';
$btn-dx-off: (422px, 469px, -422px, -469px, 55px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'btn_dx_off', );
$btn-dx-on-name: 'btn_dx_on';
$btn-dx-on-x: 357px;
$btn-dx-on-y: 469px;
$btn-dx-on-offset-x: -357px;
$btn-dx-on-offset-y: -469px;
$btn-dx-on-width: 55px;
$btn-dx-on-height: 22px;
$btn-dx-on-total-width: 625px;
$btn-dx-on-total-height: 605px;
$btn-dx-on-image: '../img-sprite/sprite.png';
$btn-dx-on: (357px, 469px, -357px, -469px, 55px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'btn_dx_on', );
$btn-login-off-name: 'btn_login_off';
$btn-login-off-x: 0px;
$btn-login-off-y: 212px;
$btn-login-off-offset-x: 0px;
$btn-login-off-offset-y: -212px;
$btn-login-off-width: 300px;
$btn-login-off-height: 50px;
$btn-login-off-total-width: 625px;
$btn-login-off-total-height: 605px;
$btn-login-off-image: '../img-sprite/sprite.png';
$btn-login-off: (0px, 212px, 0px, -212px, 300px, 50px, 625px, 605px, '../img-sprite/sprite.png', 'btn_login_off', );
$btn-login-on-name: 'btn_login_on';
$btn-login-on-x: 0px;
$btn-login-on-y: 152px;
$btn-login-on-offset-x: 0px;
$btn-login-on-offset-y: -152px;
$btn-login-on-width: 300px;
$btn-login-on-height: 50px;
$btn-login-on-total-width: 625px;
$btn-login-on-total-height: 605px;
$btn-login-on-image: '../img-sprite/sprite.png';
$btn-login-on: (0px, 152px, 0px, -152px, 300px, 50px, 625px, 605px, '../img-sprite/sprite.png', 'btn_login_on', );
$btn-ok-off-name: 'btn_ok_off';
$btn-ok-off-x: 310px;
$btn-ok-off-y: 212px;
$btn-ok-off-offset-x: -310px;
$btn-ok-off-offset-y: -212px;
$btn-ok-off-width: 100px;
$btn-ok-off-height: 40px;
$btn-ok-off-total-width: 625px;
$btn-ok-off-total-height: 605px;
$btn-ok-off-image: '../img-sprite/sprite.png';
$btn-ok-off: (310px, 212px, -310px, -212px, 100px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_ok_off', );
$btn-ok-on-name: 'btn_ok_on';
$btn-ok-on-x: 310px;
$btn-ok-on-y: 152px;
$btn-ok-on-offset-x: -310px;
$btn-ok-on-offset-y: -152px;
$btn-ok-on-width: 100px;
$btn-ok-on-height: 40px;
$btn-ok-on-total-width: 625px;
$btn-ok-on-total-height: 605px;
$btn-ok-on-image: '../img-sprite/sprite.png';
$btn-ok-on: (310px, 152px, -310px, -152px, 100px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_ok_on', );
$btn-play-w-name: 'btn_play_w';
$btn-play-w-x: 0px;
$btn-play-w-y: 588px;
$btn-play-w-offset-x: 0px;
$btn-play-w-offset-y: -588px;
$btn-play-w-width: 11px;
$btn-play-w-height: 17px;
$btn-play-w-total-width: 625px;
$btn-play-w-total-height: 605px;
$btn-play-w-image: '../img-sprite/sprite.png';
$btn-play-w: (0px, 588px, 0px, -588px, 11px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'btn_play_w', );
$btn-refresh-off-name: 'btn_refresh_off';
$btn-refresh-off-x: 208px;
$btn-refresh-off-y: 469px;
$btn-refresh-off-offset-x: -208px;
$btn-refresh-off-offset-y: -469px;
$btn-refresh-off-width: 40px;
$btn-refresh-off-height: 40px;
$btn-refresh-off-total-width: 625px;
$btn-refresh-off-total-height: 605px;
$btn-refresh-off-image: '../img-sprite/sprite.png';
$btn-refresh-off: (208px, 469px, -208px, -469px, 40px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_refresh_off', );
$btn-refresh-on-name: 'btn_refresh_on';
$btn-refresh-on-x: 158px;
$btn-refresh-on-y: 469px;
$btn-refresh-on-offset-x: -158px;
$btn-refresh-on-offset-y: -469px;
$btn-refresh-on-width: 40px;
$btn-refresh-on-height: 40px;
$btn-refresh-on-total-width: 625px;
$btn-refresh-on-total-height: 605px;
$btn-refresh-on-image: '../img-sprite/sprite.png';
$btn-refresh-on: (158px, 469px, -158px, -469px, 40px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_refresh_on', );
$btn-rfrsh-name: 'btn_rfrsh';
$btn-rfrsh-x: 239px;
$btn-rfrsh-y: 442px;
$btn-rfrsh-offset-x: -239px;
$btn-rfrsh-offset-y: -442px;
$btn-rfrsh-width: 16px;
$btn-rfrsh-height: 14px;
$btn-rfrsh-total-width: 625px;
$btn-rfrsh-total-height: 605px;
$btn-rfrsh-image: '../img-sprite/sprite.png';
$btn-rfrsh: (239px, 442px, -239px, -442px, 16px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'btn_rfrsh', );
$btn-setting-off-name: 'btn_setting_off';
$btn-setting-off-x: 530px;
$btn-setting-off-y: 0px;
$btn-setting-off-offset-x: -530px;
$btn-setting-off-offset-y: 0px;
$btn-setting-off-width: 55px;
$btn-setting-off-height: 22px;
$btn-setting-off-total-width: 625px;
$btn-setting-off-total-height: 605px;
$btn-setting-off-image: '../img-sprite/sprite.png';
$btn-setting-off: (530px, 0px, -530px, 0px, 55px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'btn_setting_off', );
$btn-setting-on-name: 'btn_setting_on';
$btn-setting-on-x: 530px;
$btn-setting-on-y: 32px;
$btn-setting-on-offset-x: -530px;
$btn-setting-on-offset-y: -32px;
$btn-setting-on-width: 55px;
$btn-setting-on-height: 22px;
$btn-setting-on-total-width: 625px;
$btn-setting-on-total-height: 605px;
$btn-setting-on-image: '../img-sprite/sprite.png';
$btn-setting-on: (530px, 32px, -530px, -32px, 55px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'btn_setting_on', );
$btn-sound-off-name: 'btn_sound_off';
$btn-sound-off-x: 108px;
$btn-sound-off-y: 469px;
$btn-sound-off-offset-x: -108px;
$btn-sound-off-offset-y: -469px;
$btn-sound-off-width: 40px;
$btn-sound-off-height: 40px;
$btn-sound-off-total-width: 625px;
$btn-sound-off-total-height: 605px;
$btn-sound-off-image: '../img-sprite/sprite.png';
$btn-sound-off: (108px, 469px, -108px, -469px, 40px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_sound_off', );
$btn-sound-on-name: 'btn_sound_on';
$btn-sound-on-x: 258px;
$btn-sound-on-y: 469px;
$btn-sound-on-offset-x: -258px;
$btn-sound-on-offset-y: -469px;
$btn-sound-on-width: 40px;
$btn-sound-on-height: 40px;
$btn-sound-on-total-width: 625px;
$btn-sound-on-total-height: 605px;
$btn-sound-on-image: '../img-sprite/sprite.png';
$btn-sound-on: (258px, 469px, -258px, -469px, 40px, 40px, 625px, 605px, '../img-sprite/sprite.png', 'btn_sound_on', );
$btn-unfold-name: 'btn_unfold';
$btn-unfold-x: 74px;
$btn-unfold-y: 564px;
$btn-unfold-offset-x: -74px;
$btn-unfold-offset-y: -564px;
$btn-unfold-width: 13px;
$btn-unfold-height: 13px;
$btn-unfold-total-width: 625px;
$btn-unfold-total-height: 605px;
$btn-unfold-image: '../img-sprite/sprite.png';
$btn-unfold: (74px, 564px, -74px, -564px, 13px, 13px, 625px, 605px, '../img-sprite/sprite.png', 'btn_unfold', );
$chk-off-name: 'chk_off';
$chk-off-x: 0px;
$chk-off-y: 564px;
$chk-off-offset-x: 0px;
$chk-off-offset-y: -564px;
$chk-off-width: 14px;
$chk-off-height: 14px;
$chk-off-total-width: 625px;
$chk-off-total-height: 605px;
$chk-off-image: '../img-sprite/sprite.png';
$chk-off: (0px, 564px, 0px, -564px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'chk_off', );
$chk-on-name: 'chk_on';
$chk-on-x: 487px;
$chk-on-y: 469px;
$chk-on-offset-x: -487px;
$chk-on-offset-y: -469px;
$chk-on-width: 14px;
$chk-on-height: 14px;
$chk-on-total-width: 625px;
$chk-on-total-height: 605px;
$chk-on-image: '../img-sprite/sprite.png';
$chk-on: (487px, 469px, -487px, -469px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'chk_on', );
$fire-off-name: 'fire_off';
$fire-off-x: 430px;
$fire-off-y: 0px;
$fire-off-offset-x: -430px;
$fire-off-offset-y: 0px;
$fire-off-width: 90px;
$fire-off-height: 95px;
$fire-off-total-width: 625px;
$fire-off-total-height: 605px;
$fire-off-image: '../img-sprite/sprite.png';
$fire-off: (430px, 0px, -430px, 0px, 90px, 95px, 625px, 605px, '../img-sprite/sprite.png', 'fire_off', );
$fire-on-name: 'fire_on';
$fire-on-x: 430px;
$fire-on-y: 202px;
$fire-on-offset-x: -430px;
$fire-on-offset-y: -202px;
$fire-on-width: 83px;
$fire-on-height: 87px;
$fire-on-total-width: 625px;
$fire-on-total-height: 605px;
$fire-on-image: '../img-sprite/sprite.png';
$fire-on: (430px, 202px, -430px, -202px, 83px, 87px, 625px, 605px, '../img-sprite/sprite.png', 'fire_on', );
$ico-actoz-name: 'ico_actoz';
$ico-actoz-x: 134px;
$ico-actoz-y: 382px;
$ico-actoz-offset-x: -134px;
$ico-actoz-offset-y: -382px;
$ico-actoz-width: 101px;
$ico-actoz-height: 30px;
$ico-actoz-total-width: 625px;
$ico-actoz-total-height: 605px;
$ico-actoz-image: '../img-sprite/sprite.png';
$ico-actoz: (134px, 382px, -134px, -382px, 101px, 30px, 625px, 605px, '../img-sprite/sprite.png', 'ico_actoz', );
$ico-bg-name: 'ico_bg';
$ico-bg-x: 530px;
$ico-bg-y: 338px;
$ico-bg-offset-x: -530px;
$ico-bg-offset-y: -338px;
$ico-bg-width: 30px;
$ico-bg-height: 31px;
$ico-bg-total-width: 625px;
$ico-bg-total-height: 605px;
$ico-bg-image: '../img-sprite/sprite.png';
$ico-bg: (530px, 338px, -530px, -338px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_bg', );
$ico-butler-name: 'ico_butler';
$ico-butler-x: 530px;
$ico-butler-y: 461px;
$ico-butler-offset-x: -530px;
$ico-butler-offset-y: -461px;
$ico-butler-width: 30px;
$ico-butler-height: 31px;
$ico-butler-total-width: 625px;
$ico-butler-total-height: 605px;
$ico-butler-image: '../img-sprite/sprite.png';
$ico-butler: (530px, 461px, -530px, -461px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_butler', );
$ico-cart-name: 'ico_cart';
$ico-cart-x: 40px;
$ico-cart-y: 523px;
$ico-cart-offset-x: -40px;
$ico-cart-offset-y: -523px;
$ico-cart-width: 30px;
$ico-cart-height: 31px;
$ico-cart-total-width: 625px;
$ico-cart-total-height: 605px;
$ico-cart-image: '../img-sprite/sprite.png';
$ico-cart: (40px, 523px, -40px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_cart', );
$ico-close-name: 'ico_close';
$ico-close-x: 141px;
$ico-close-y: 564px;
$ico-close-offset-x: -141px;
$ico-close-offset-y: -564px;
$ico-close-width: 12px;
$ico-close-height: 12px;
$ico-close-total-width: 625px;
$ico-close-total-height: 605px;
$ico-close-image: '../img-sprite/sprite.png';
$ico-close: (141px, 564px, -141px, -564px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'ico_close', );
$ico-coupon-name: 'ico_coupon';
$ico-coupon-x: 400px;
$ico-coupon-y: 523px;
$ico-coupon-offset-x: -400px;
$ico-coupon-offset-y: -523px;
$ico-coupon-width: 30px;
$ico-coupon-height: 31px;
$ico-coupon-total-width: 625px;
$ico-coupon-total-height: 605px;
$ico-coupon-image: '../img-sprite/sprite.png';
$ico-coupon: (400px, 523px, -400px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_coupon', );
$ico-crystal-name: 'ico_crystal';
$ico-crystal-x: 520px;
$ico-crystal-y: 523px;
$ico-crystal-offset-x: -520px;
$ico-crystal-offset-y: -523px;
$ico-crystal-width: 30px;
$ico-crystal-height: 31px;
$ico-crystal-total-width: 625px;
$ico-crystal-total-height: 605px;
$ico-crystal-image: '../img-sprite/sprite.png';
$ico-crystal: (520px, 523px, -520px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_crystal', );
$ico-eveitem-name: 'ico_eveitem';
$ico-eveitem-x: 595px;
$ico-eveitem-y: 0px;
$ico-eveitem-offset-x: -595px;
$ico-eveitem-offset-y: 0px;
$ico-eveitem-width: 30px;
$ico-eveitem-height: 31px;
$ico-eveitem-total-width: 625px;
$ico-eveitem-total-height: 605px;
$ico-eveitem-image: '../img-sprite/sprite.png';
$ico-eveitem: (595px, 0px, -595px, 0px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_eveitem', );
$ico-fb-off-name: 'ico_fb_off';
$ico-fb-off-x: 571px;
$ico-fb-off-y: 297px;
$ico-fb-off-offset-x: -571px;
$ico-fb-off-offset-y: -297px;
$ico-fb-off-width: 12px;
$ico-fb-off-height: 19px;
$ico-fb-off-total-width: 625px;
$ico-fb-off-total-height: 605px;
$ico-fb-off-image: '../img-sprite/sprite.png';
$ico-fb-off: (571px, 297px, -571px, -297px, 12px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_fb_off', );
$ico-fb-on-name: 'ico_fb_on';
$ico-fb-on-x: 570px;
$ico-fb-on-y: 338px;
$ico-fb-on-offset-x: -570px;
$ico-fb-on-offset-y: -338px;
$ico-fb-on-width: 12px;
$ico-fb-on-height: 19px;
$ico-fb-on-total-width: 625px;
$ico-fb-on-total-height: 605px;
$ico-fb-on-image: '../img-sprite/sprite.png';
$ico-fb-on: (570px, 338px, -570px, -338px, 12px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_fb_on', );
$ico-ff14-off-name: 'ico_ff14_off';
$ico-ff14-off-x: 595px;
$ico-ff14-off-y: 503px;
$ico-ff14-off-offset-x: -595px;
$ico-ff14-off-offset-y: -503px;
$ico-ff14-off-width: 18px;
$ico-ff14-off-height: 19px;
$ico-ff14-off-total-width: 625px;
$ico-ff14-off-total-height: 605px;
$ico-ff14-off-image: '../img-sprite/sprite.png';
$ico-ff14-off: (595px, 503px, -595px, -503px, 18px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_ff14_off', );
$ico-ff14-on-name: 'ico_ff14_on';
$ico-ff14-on-x: 595px;
$ico-ff14-on-y: 387px;
$ico-ff14-on-offset-x: -595px;
$ico-ff14-on-offset-y: -387px;
$ico-ff14-on-width: 18px;
$ico-ff14-on-height: 19px;
$ico-ff14-on-total-width: 625px;
$ico-ff14-on-total-height: 605px;
$ico-ff14-on-image: '../img-sprite/sprite.png';
$ico-ff14-on: (595px, 387px, -595px, -387px, 18px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_ff14_on', );
$ico-fixed-name: 'ico_fixed';
$ico-fixed-x: 280px;
$ico-fixed-y: 523px;
$ico-fixed-offset-x: -280px;
$ico-fixed-offset-y: -523px;
$ico-fixed-width: 30px;
$ico-fixed-height: 31px;
$ico-fixed-total-width: 625px;
$ico-fixed-total-height: 605px;
$ico-fixed-image: '../img-sprite/sprite.png';
$ico-fixed: (280px, 523px, -280px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_fixed', );
$ico-fold-name: 'ico_fold';
$ico-fold-x: 351px;
$ico-fold-y: 132px;
$ico-fold-offset-x: -351px;
$ico-fold-offset-y: -132px;
$ico-fold-width: 13px;
$ico-fold-height: 8px;
$ico-fold-total-width: 625px;
$ico-fold-total-height: 605px;
$ico-fold-image: '../img-sprite/sprite.png';
$ico-fold: (351px, 132px, -351px, -132px, 13px, 8px, 625px, 605px, '../img-sprite/sprite.png', 'ico_fold', );
$ico-friend-name: 'ico_friend';
$ico-friend-x: 80px;
$ico-friend-y: 523px;
$ico-friend-offset-x: -80px;
$ico-friend-offset-y: -523px;
$ico-friend-width: 30px;
$ico-friend-height: 31px;
$ico-friend-total-width: 625px;
$ico-friend-total-height: 605px;
$ico-friend-image: '../img-sprite/sprite.png';
$ico-friend: (80px, 523px, -80px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_friend', );
$ico-gift-name: 'ico_gift';
$ico-gift-x: 0px;
$ico-gift-y: 523px;
$ico-gift-offset-x: 0px;
$ico-gift-offset-y: -523px;
$ico-gift-width: 30px;
$ico-gift-height: 31px;
$ico-gift-total-width: 625px;
$ico-gift-total-height: 605px;
$ico-gift-image: '../img-sprite/sprite.png';
$ico-gift: (0px, 523px, 0px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_gift', );
$ico-impact-name: 'ico_impact';
$ico-impact-x: 575px;
$ico-impact-y: 89px;
$ico-impact-offset-x: -575px;
$ico-impact-offset-y: -89px;
$ico-impact-width: 10px;
$ico-impact-height: 10px;
$ico-impact-total-width: 625px;
$ico-impact-total-height: 605px;
$ico-impact-image: '../img-sprite/sprite.png';
$ico-impact: (575px, 89px, -575px, -89px, 10px, 10px, 625px, 605px, '../img-sprite/sprite.png', 'ico_impact', );
$ico-ing-name: 'ico_ing';
$ico-ing-x: 595px;
$ico-ing-y: 173px;
$ico-ing-offset-x: -595px;
$ico-ing-offset-y: -173px;
$ico-ing-width: 22px;
$ico-ing-height: 22px;
$ico-ing-total-width: 625px;
$ico-ing-total-height: 605px;
$ico-ing-image: '../img-sprite/sprite.png';
$ico-ing: (595px, 173px, -595px, -173px, 22px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'ico_ing', );
$ico-inst-off-name: 'ico_inst_off';
$ico-inst-off-x: 595px;
$ico-inst-off-y: 532px;
$ico-inst-off-offset-x: -595px;
$ico-inst-off-offset-y: -532px;
$ico-inst-off-width: 17px;
$ico-inst-off-height: 19px;
$ico-inst-off-total-width: 625px;
$ico-inst-off-total-height: 605px;
$ico-inst-off-image: '../img-sprite/sprite.png';
$ico-inst-off: (595px, 532px, -595px, -532px, 17px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_inst_off', );
$ico-inst-on-name: 'ico_inst_on';
$ico-inst-on-x: 397px;
$ico-inst-on-y: 330px;
$ico-inst-on-offset-x: -397px;
$ico-inst-on-offset-y: -330px;
$ico-inst-on-width: 17px;
$ico-inst-on-height: 19px;
$ico-inst-on-total-width: 625px;
$ico-inst-on-total-height: 605px;
$ico-inst-on-image: '../img-sprite/sprite.png';
$ico-inst-on: (397px, 330px, -397px, -330px, 17px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_inst_on', );
$ico-kakao-name: 'ico_kakao';
$ico-kakao-x: 221px;
$ico-kakao-y: 330px;
$ico-kakao-offset-x: -221px;
$ico-kakao-offset-y: -330px;
$ico-kakao-width: 101px;
$ico-kakao-height: 30px;
$ico-kakao-total-width: 625px;
$ico-kakao-total-height: 605px;
$ico-kakao-image: '../img-sprite/sprite.png';
$ico-kakao: (221px, 330px, -221px, -330px, 101px, 30px, 625px, 605px, '../img-sprite/sprite.png', 'ico_kakao', );
$ico-loading-02-name: 'ico_loading_02';
$ico-loading-02-x: 530px;
$ico-loading-02-y: 297px;
$ico-loading-02-offset-x: -530px;
$ico-loading-02-offset-y: -297px;
$ico-loading-02-width: 31px;
$ico-loading-02-height: 31px;
$ico-loading-02-total-width: 625px;
$ico-loading-02-total-height: 605px;
$ico-loading-02-image: '../img-sprite/sprite.png';
$ico-loading-02: (530px, 297px, -530px, -297px, 31px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_loading_02', );
$ico-loading-03-name: 'ico_loading_03';
$ico-loading-03-x: 530px;
$ico-loading-03-y: 256px;
$ico-loading-03-offset-x: -530px;
$ico-loading-03-offset-y: -256px;
$ico-loading-03-width: 31px;
$ico-loading-03-height: 31px;
$ico-loading-03-total-width: 625px;
$ico-loading-03-total-height: 605px;
$ico-loading-03-image: '../img-sprite/sprite.png';
$ico-loading-03: (530px, 256px, -530px, -256px, 31px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_loading_03', );
$ico-loading-04-name: 'ico_loading_04';
$ico-loading-04-x: 530px;
$ico-loading-04-y: 215px;
$ico-loading-04-offset-x: -530px;
$ico-loading-04-offset-y: -215px;
$ico-loading-04-width: 31px;
$ico-loading-04-height: 31px;
$ico-loading-04-total-width: 625px;
$ico-loading-04-total-height: 605px;
$ico-loading-04-image: '../img-sprite/sprite.png';
$ico-loading-04: (530px, 215px, -530px, -215px, 31px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_loading_04', );
$ico-na-off-name: 'ico_na_off';
$ico-na-off-x: 571px;
$ico-na-off-y: 215px;
$ico-na-off-offset-x: -571px;
$ico-na-off-offset-y: -215px;
$ico-na-off-width: 12px;
$ico-na-off-height: 21px;
$ico-na-off-total-width: 625px;
$ico-na-off-total-height: 605px;
$ico-na-off-image: '../img-sprite/sprite.png';
$ico-na-off: (571px, 215px, -571px, -215px, 12px, 21px, 625px, 605px, '../img-sprite/sprite.png', 'ico_na_off', );
$ico-na-on-name: 'ico_na_on';
$ico-na-on-x: 571px;
$ico-na-on-y: 256px;
$ico-na-on-offset-x: -571px;
$ico-na-on-offset-y: -256px;
$ico-na-on-width: 12px;
$ico-na-on-height: 21px;
$ico-na-on-total-width: 625px;
$ico-na-on-total-height: 605px;
$ico-na-on-image: '../img-sprite/sprite.png';
$ico-na-on: (571px, 256px, -571px, -256px, 12px, 21px, 625px, 605px, '../img-sprite/sprite.png', 'ico_na_on', );
$ico-naver-name: 'ico_naver';
$ico-naver-x: 110px;
$ico-naver-y: 330px;
$ico-naver-offset-x: -110px;
$ico-naver-offset-y: -330px;
$ico-naver-width: 101px;
$ico-naver-height: 30px;
$ico-naver-total-width: 625px;
$ico-naver-total-height: 605px;
$ico-naver-image: '../img-sprite/sprite.png';
$ico-naver: (110px, 330px, -110px, -330px, 101px, 30px, 625px, 605px, '../img-sprite/sprite.png', 'ico_naver', );
$ico-nexon-name: 'ico_nexon';
$ico-nexon-x: 314px;
$ico-nexon-y: 272px;
$ico-nexon-offset-x: -314px;
$ico-nexon-offset-y: -272px;
$ico-nexon-width: 101px;
$ico-nexon-height: 30px;
$ico-nexon-total-width: 625px;
$ico-nexon-total-height: 605px;
$ico-nexon-image: '../img-sprite/sprite.png';
$ico-nexon: (314px, 272px, -314px, -272px, 101px, 30px, 625px, 605px, '../img-sprite/sprite.png', 'ico_nexon', );
$ico-pcroom-name: 'ico_pcroom';
$ico-pcroom-x: 129px;
$ico-pcroom-y: 442px;
$ico-pcroom-offset-x: -129px;
$ico-pcroom-offset-y: -442px;
$ico-pcroom-width: 46px;
$ico-pcroom-height: 17px;
$ico-pcroom-total-width: 625px;
$ico-pcroom-total-height: 605px;
$ico-pcroom-image: '../img-sprite/sprite.png';
$ico-pcroom: (129px, 442px, -129px, -442px, 46px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'ico_pcroom', );
$ico-regular-name: 'ico_regular';
$ico-regular-x: 440px;
$ico-regular-y: 523px;
$ico-regular-offset-x: -440px;
$ico-regular-offset-y: -523px;
$ico-regular-width: 30px;
$ico-regular-height: 31px;
$ico-regular-total-width: 625px;
$ico-regular-total-height: 605px;
$ico-regular-image: '../img-sprite/sprite.png';
$ico-regular: (440px, 523px, -440px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_regular', );
$ico-small-name: 'ico_small';
$ico-small-x: 395px;
$ico-small-y: 442px;
$ico-small-offset-x: -395px;
$ico-small-offset-y: -442px;
$ico-small-width: 13px;
$ico-small-height: 12px;
$ico-small-total-width: 625px;
$ico-small-total-height: 605px;
$ico-small-image: '../img-sprite/sprite.png';
$ico-small: (395px, 442px, -395px, -442px, 13px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'ico_small', );
$ico-sns-off-name: 'ico_sns_off';
$ico-sns-off-x: 390px;
$ico-sns-off-y: 382px;
$ico-sns-off-offset-x: -390px;
$ico-sns-off-offset-y: -382px;
$ico-sns-off-width: 119px;
$ico-sns-off-height: 17px;
$ico-sns-off-total-width: 625px;
$ico-sns-off-total-height: 605px;
$ico-sns-off-image: '../img-sprite/sprite.png';
$ico-sns-off: (390px, 382px, -390px, -382px, 119px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'ico_sns_off', );
$ico-sns-on-name: 'ico_sns_on';
$ico-sns-on-x: 0px;
$ico-sns-on-y: 442px;
$ico-sns-on-offset-x: 0px;
$ico-sns-on-offset-y: -442px;
$ico-sns-on-width: 119px;
$ico-sns-on-height: 17px;
$ico-sns-on-total-width: 625px;
$ico-sns-on-total-height: 605px;
$ico-sns-on-image: '../img-sprite/sprite.png';
$ico-sns-on: (0px, 442px, 0px, -442px, 119px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'ico_sns_on', );
$ico-stop-name: 'ico_stop';
$ico-stop-x: 595px;
$ico-stop-y: 109px;
$ico-stop-offset-x: -595px;
$ico-stop-offset-y: -109px;
$ico-stop-width: 22px;
$ico-stop-height: 22px;
$ico-stop-total-width: 625px;
$ico-stop-total-height: 605px;
$ico-stop-image: '../img-sprite/sprite.png';
$ico-stop: (595px, 109px, -595px, -109px, 22px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'ico_stop', );
$ico-tw-off-name: 'ico_tw_off';
$ico-tw-off-x: 595px;
$ico-tw-off-y: 474px;
$ico-tw-off-offset-x: -595px;
$ico-tw-off-offset-y: -474px;
$ico-tw-off-width: 18px;
$ico-tw-off-height: 19px;
$ico-tw-off-total-width: 625px;
$ico-tw-off-total-height: 605px;
$ico-tw-off-image: '../img-sprite/sprite.png';
$ico-tw-off: (595px, 474px, -595px, -474px, 18px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_tw_off', );
$ico-tw-on-name: 'ico_tw_on';
$ico-tw-on-x: 595px;
$ico-tw-on-y: 416px;
$ico-tw-on-offset-x: -595px;
$ico-tw-on-offset-y: -416px;
$ico-tw-on-width: 18px;
$ico-tw-on-height: 19px;
$ico-tw-on-total-width: 625px;
$ico-tw-on-total-height: 605px;
$ico-tw-on-image: '../img-sprite/sprite.png';
$ico-tw-on: (595px, 416px, -595px, -416px, 18px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_tw_on', );
$ico-unfold-name: 'ico_unfold';
$ico-unfold-x: 506px;
$ico-unfold-y: 347px;
$ico-unfold-offset-x: -506px;
$ico-unfold-offset-y: -347px;
$ico-unfold-width: 13px;
$ico-unfold-height: 8px;
$ico-unfold-total-width: 625px;
$ico-unfold-total-height: 605px;
$ico-unfold-image: '../img-sprite/sprite.png';
$ico-unfold: (506px, 347px, -506px, -347px, 13px, 8px, 625px, 605px, '../img-sprite/sprite.png', 'ico_unfold', );
$ico-update-name: 'ico_update';
$ico-update-x: 595px;
$ico-update-y: 141px;
$ico-update-offset-x: -595px;
$ico-update-offset-y: -141px;
$ico-update-width: 22px;
$ico-update-height: 22px;
$ico-update-total-width: 625px;
$ico-update-total-height: 605px;
$ico-update-image: '../img-sprite/sprite.png';
$ico-update: (595px, 141px, -595px, -141px, 22px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'ico_update', );
$ico-user-new-name: 'ico_user_new';
$ico-user-new-x: 360px;
$ico-user-new-y: 523px;
$ico-user-new-offset-x: -360px;
$ico-user-new-offset-y: -523px;
$ico-user-new-width: 30px;
$ico-user-new-height: 31px;
$ico-user-new-total-width: 625px;
$ico-user-new-total-height: 605px;
$ico-user-new-image: '../img-sprite/sprite.png';
$ico-user-new: (360px, 523px, -360px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_user_new', );
$ico-user-return-name: 'ico_user_return';
$ico-user-return-x: 120px;
$ico-user-return-y: 523px;
$ico-user-return-offset-x: -120px;
$ico-user-return-offset-y: -523px;
$ico-user-return-width: 30px;
$ico-user-return-height: 31px;
$ico-user-return-total-width: 625px;
$ico-user-return-total-height: 605px;
$ico-user-return-image: '../img-sprite/sprite.png';
$ico-user-return: (120px, 523px, -120px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'ico_user_return', );
$ico-yt-off-name: 'ico_yt_off';
$ico-yt-off-x: 565px;
$ico-yt-off-y: 109px;
$ico-yt-off-offset-x: -565px;
$ico-yt-off-offset-y: -109px;
$ico-yt-off-width: 17px;
$ico-yt-off-height: 19px;
$ico-yt-off-total-width: 625px;
$ico-yt-off-total-height: 605px;
$ico-yt-off-image: '../img-sprite/sprite.png';
$ico-yt-off: (565px, 109px, -565px, -109px, 17px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_yt_off', );
$ico-yt-on-name: 'ico_yt_on';
$ico-yt-on-x: 565px;
$ico-yt-on-y: 162px;
$ico-yt-on-offset-x: -565px;
$ico-yt-on-offset-y: -162px;
$ico-yt-on-width: 17px;
$ico-yt-on-height: 19px;
$ico-yt-on-total-width: 625px;
$ico-yt-on-total-height: 605px;
$ico-yt-on-image: '../img-sprite/sprite.png';
$ico-yt-on: (565px, 162px, -565px, -162px, 17px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'ico_yt_on', );
$icon-link-off-name: 'icon-link-off';
$icon-link-off-x: 570px;
$icon-link-off-y: 420px;
$icon-link-off-offset-x: -570px;
$icon-link-off-offset-y: -420px;
$icon-link-off-width: 15px;
$icon-link-off-height: 14px;
$icon-link-off-total-width: 625px;
$icon-link-off-total-height: 605px;
$icon-link-off-image: '../img-sprite/sprite.png';
$icon-link-off: (570px, 420px, -570px, -420px, 15px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon-link-off', );
$icon-link-on-name: 'icon-link-on';
$icon-link-on-x: 570px;
$icon-link-on-y: 379px;
$icon-link-on-offset-x: -570px;
$icon-link-on-offset-y: -379px;
$icon-link-on-width: 15px;
$icon-link-on-height: 14px;
$icon-link-on-total-width: 625px;
$icon-link-on-total-height: 605px;
$icon-link-on-image: '../img-sprite/sprite.png';
$icon-link-on: (570px, 379px, -570px, -379px, 15px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon-link-on', );
$icon-beginner-off-name: 'icon_beginner_off';
$icon-beginner-off-x: 480px;
$icon-beginner-off-y: 523px;
$icon-beginner-off-offset-x: -480px;
$icon-beginner-off-offset-y: -523px;
$icon-beginner-off-width: 30px;
$icon-beginner-off-height: 31px;
$icon-beginner-off-total-width: 625px;
$icon-beginner-off-total-height: 605px;
$icon-beginner-off-image: '../img-sprite/sprite.png';
$icon-beginner-off: (480px, 523px, -480px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_beginner_off', );
$icon-beginner-on-name: 'icon_beginner_on';
$icon-beginner-on-x: 320px;
$icon-beginner-on-y: 523px;
$icon-beginner-on-offset-x: -320px;
$icon-beginner-on-offset-y: -523px;
$icon-beginner-on-width: 30px;
$icon-beginner-on-height: 31px;
$icon-beginner-on-total-width: 625px;
$icon-beginner-on-total-height: 605px;
$icon-beginner-on-image: '../img-sprite/sprite.png';
$icon-beginner-on: (320px, 523px, -320px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_beginner_on', );
$icon-checkhome-off-name: 'icon_checkhome_off';
$icon-checkhome-off-x: 54px;
$icon-checkhome-off-y: 469px;
$icon-checkhome-off-offset-x: -54px;
$icon-checkhome-off-offset-y: -469px;
$icon-checkhome-off-width: 44px;
$icon-checkhome-off-height: 44px;
$icon-checkhome-off-total-width: 625px;
$icon-checkhome-off-total-height: 605px;
$icon-checkhome-off-image: '../img-sprite/sprite.png';
$icon-checkhome-off: (54px, 469px, -54px, -469px, 44px, 44px, 625px, 605px, '../img-sprite/sprite.png', 'icon_checkhome_off', );
$icon-checkhome-on-name: 'icon_checkhome_on';
$icon-checkhome-on-x: 0px;
$icon-checkhome-on-y: 469px;
$icon-checkhome-on-offset-x: 0px;
$icon-checkhome-on-offset-y: -469px;
$icon-checkhome-on-width: 44px;
$icon-checkhome-on-height: 44px;
$icon-checkhome-on-total-width: 625px;
$icon-checkhome-on-total-height: 605px;
$icon-checkhome-on-image: '../img-sprite/sprite.png';
$icon-checkhome-on: (0px, 469px, 0px, -469px, 44px, 44px, 625px, 605px, '../img-sprite/sprite.png', 'icon_checkhome_on', );
$icon-exclamation-name: 'icon_exclamation';
$icon-exclamation-x: 430px;
$icon-exclamation-y: 299px;
$icon-exclamation-offset-x: -430px;
$icon-exclamation-offset-y: -299px;
$icon-exclamation-width: 66px;
$icon-exclamation-height: 58px;
$icon-exclamation-total-width: 625px;
$icon-exclamation-total-height: 605px;
$icon-exclamation-image: '../img-sprite/sprite.png';
$icon-exclamation: (430px, 299px, -430px, -299px, 66px, 58px, 625px, 605px, '../img-sprite/sprite.png', 'icon_exclamation', );
$icon-facebook-off-name: 'icon_facebook_off';
$icon-facebook-off-x: 411px;
$icon-facebook-off-y: 72px;
$icon-facebook-off-offset-x: -411px;
$icon-facebook-off-offset-y: -72px;
$icon-facebook-off-width: 8px;
$icon-facebook-off-height: 15px;
$icon-facebook-off-total-width: 625px;
$icon-facebook-off-total-height: 605px;
$icon-facebook-off-image: '../img-sprite/sprite.png';
$icon-facebook-off: (411px, 72px, -411px, -72px, 8px, 15px, 625px, 605px, '../img-sprite/sprite.png', 'icon_facebook_off', );
$icon-facebook-on-name: 'icon_facebook_on';
$icon-facebook-on-x: 575px;
$icon-facebook-on-y: 64px;
$icon-facebook-on-offset-x: -575px;
$icon-facebook-on-offset-y: -64px;
$icon-facebook-on-width: 8px;
$icon-facebook-on-height: 15px;
$icon-facebook-on-total-width: 625px;
$icon-facebook-on-total-height: 605px;
$icon-facebook-on-image: '../img-sprite/sprite.png';
$icon-facebook-on: (575px, 64px, -575px, -64px, 8px, 15px, 625px, 605px, '../img-sprite/sprite.png', 'icon_facebook_on', );
$icon-ffweb-off-name: 'icon_ffweb_off';
$icon-ffweb-off-x: 530px;
$icon-ffweb-off-y: 379px;
$icon-ffweb-off-offset-x: -530px;
$icon-ffweb-off-offset-y: -379px;
$icon-ffweb-off-width: 30px;
$icon-ffweb-off-height: 31px;
$icon-ffweb-off-total-width: 625px;
$icon-ffweb-off-total-height: 605px;
$icon-ffweb-off-image: '../img-sprite/sprite.png';
$icon-ffweb-off: (530px, 379px, -530px, -379px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_ffweb_off', );
$icon-ffweb-on-name: 'icon_ffweb_on';
$icon-ffweb-on-x: 530px;
$icon-ffweb-on-y: 420px;
$icon-ffweb-on-offset-x: -530px;
$icon-ffweb-on-offset-y: -420px;
$icon-ffweb-on-width: 30px;
$icon-ffweb-on-height: 31px;
$icon-ffweb-on-total-width: 625px;
$icon-ffweb-on-total-height: 605px;
$icon-ffweb-on-image: '../img-sprite/sprite.png';
$icon-ffweb-on: (530px, 420px, -530px, -420px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_ffweb_on', );
$icon-fire-small-name: 'icon_fire_small';
$icon-fire-small-x: 595px;
$icon-fire-small-y: 445px;
$icon-fire-small-offset-x: -595px;
$icon-fire-small-offset-y: -445px;
$icon-fire-small-width: 18px;
$icon-fire-small-height: 19px;
$icon-fire-small-total-width: 625px;
$icon-fire-small-total-height: 605px;
$icon-fire-small-image: '../img-sprite/sprite.png';
$icon-fire-small: (595px, 445px, -595px, -445px, 18px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'icon_fire_small', );
$icon-fold-name: 'icon_fold';
$icon-fold-x: 530px;
$icon-fold-y: 162px;
$icon-fold-offset-x: -530px;
$icon-fold-offset-y: -162px;
$icon-fold-width: 25px;
$icon-fold-height: 43px;
$icon-fold-total-width: 625px;
$icon-fold-total-height: 605px;
$icon-fold-image: '../img-sprite/sprite.png';
$icon-fold: (530px, 162px, -530px, -162px, 25px, 43px, 625px, 605px, '../img-sprite/sprite.png', 'icon_fold', );
$icon-ing-name: 'icon_ing';
$icon-ing-x: 595px;
$icon-ing-y: 205px;
$icon-ing-offset-x: -595px;
$icon-ing-offset-y: -205px;
$icon-ing-width: 22px;
$icon-ing-height: 22px;
$icon-ing-total-width: 625px;
$icon-ing-total-height: 605px;
$icon-ing-image: '../img-sprite/sprite.png';
$icon-ing: (595px, 205px, -595px, -205px, 22px, 22px, 625px, 605px, '../img-sprite/sprite.png', 'icon_ing', );
$icon-insta-off-name: 'icon_insta_off';
$icon-insta-off-x: 185px;
$icon-insta-off-y: 442px;
$icon-insta-off-offset-x: -185px;
$icon-insta-off-offset-y: -442px;
$icon-insta-off-width: 17px;
$icon-insta-off-height: 17px;
$icon-insta-off-total-width: 625px;
$icon-insta-off-total-height: 605px;
$icon-insta-off-image: '../img-sprite/sprite.png';
$icon-insta-off: (185px, 442px, -185px, -442px, 17px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'icon_insta_off', );
$icon-insta-on-name: 'icon_insta_on';
$icon-insta-on-x: 212px;
$icon-insta-on-y: 442px;
$icon-insta-on-offset-x: -212px;
$icon-insta-on-offset-y: -442px;
$icon-insta-on-width: 17px;
$icon-insta-on-height: 17px;
$icon-insta-on-total-width: 625px;
$icon-insta-on-total-height: 605px;
$icon-insta-on-image: '../img-sprite/sprite.png';
$icon-insta-on: (212px, 442px, -212px, -442px, 17px, 17px, 625px, 605px, '../img-sprite/sprite.png', 'icon_insta_on', );
$icon-logout-off-name: 'icon_logout_off';
$icon-logout-off-x: 506px;
$icon-logout-off-y: 299px;
$icon-logout-off-offset-x: -506px;
$icon-logout-off-offset-y: -299px;
$icon-logout-off-width: 14px;
$icon-logout-off-height: 14px;
$icon-logout-off-total-width: 625px;
$icon-logout-off-total-height: 605px;
$icon-logout-off-image: '../img-sprite/sprite.png';
$icon-logout-off: (506px, 299px, -506px, -299px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon_logout_off', );
$icon-logout-on-name: 'icon_logout_on';
$icon-logout-on-x: 570px;
$icon-logout-on-y: 461px;
$icon-logout-on-offset-x: -570px;
$icon-logout-on-offset-y: -461px;
$icon-logout-on-width: 14px;
$icon-logout-on-height: 14px;
$icon-logout-on-total-width: 625px;
$icon-logout-on-total-height: 605px;
$icon-logout-on-image: '../img-sprite/sprite.png';
$icon-logout-on: (570px, 461px, -570px, -461px, 14px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon_logout_on', );
$icon-minus-name: 'icon_minus';
$icon-minus-x: 595px;
$icon-minus-y: 75px;
$icon-minus-offset-x: -595px;
$icon-minus-offset-y: -75px;
$icon-minus-width: 24px;
$icon-minus-height: 24px;
$icon-minus-total-width: 625px;
$icon-minus-total-height: 605px;
$icon-minus-image: '../img-sprite/sprite.png';
$icon-minus: (595px, 75px, -595px, -75px, 24px, 24px, 625px, 605px, '../img-sprite/sprite.png', 'icon_minus', );
$icon-next-off-name: 'icon_next_off';
$icon-next-off-x: 163px;
$icon-next-off-y: 564px;
$icon-next-off-offset-x: -163px;
$icon-next-off-offset-y: -564px;
$icon-next-off-width: 9px;
$icon-next-off-height: 12px;
$icon-next-off-total-width: 625px;
$icon-next-off-total-height: 605px;
$icon-next-off-image: '../img-sprite/sprite.png';
$icon-next-off: (163px, 564px, -163px, -564px, 9px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_next_off', );
$icon-next-on-name: 'icon_next_on';
$icon-next-on-x: 511px;
$icon-next-on-y: 469px;
$icon-next-on-offset-x: -511px;
$icon-next-on-offset-y: -469px;
$icon-next-on-width: 9px;
$icon-next-on-height: 12px;
$icon-next-on-total-width: 625px;
$icon-next-on-total-height: 605px;
$icon-next-on-image: '../img-sprite/sprite.png';
$icon-next-on: (511px, 469px, -511px, -469px, 9px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_next_on', );
$icon-official-off-name: 'icon_official_off';
$icon-official-off-x: 160px;
$icon-official-off-y: 523px;
$icon-official-off-offset-x: -160px;
$icon-official-off-offset-y: -523px;
$icon-official-off-width: 30px;
$icon-official-off-height: 31px;
$icon-official-off-total-width: 625px;
$icon-official-off-total-height: 605px;
$icon-official-off-image: '../img-sprite/sprite.png';
$icon-official-off: (160px, 523px, -160px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_official_off', );
$icon-official-on-name: 'icon_official_on';
$icon-official-on-x: 200px;
$icon-official-on-y: 523px;
$icon-official-on-offset-x: -200px;
$icon-official-on-offset-y: -523px;
$icon-official-on-width: 30px;
$icon-official-on-height: 31px;
$icon-official-on-total-width: 625px;
$icon-official-on-total-height: 605px;
$icon-official-on-image: '../img-sprite/sprite.png';
$icon-official-on: (200px, 523px, -200px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_official_on', );
$icon-pc-name: 'icon_pc';
$icon-pc-x: 240px;
$icon-pc-y: 523px;
$icon-pc-offset-x: -240px;
$icon-pc-offset-y: -523px;
$icon-pc-width: 30px;
$icon-pc-height: 31px;
$icon-pc-total-width: 625px;
$icon-pc-total-height: 605px;
$icon-pc-image: '../img-sprite/sprite.png';
$icon-pc: (240px, 523px, -240px, -523px, 30px, 31px, 625px, 605px, '../img-sprite/sprite.png', 'icon_pc', );
$icon-play-name: 'icon_play';
$icon-play-x: 351px;
$icon-play-y: 72px;
$icon-play-offset-x: -351px;
$icon-play-offset-y: -72px;
$icon-play-width: 50px;
$icon-play-height: 50px;
$icon-play-total-width: 625px;
$icon-play-total-height: 605px;
$icon-play-image: '../img-sprite/sprite.png';
$icon-play: (351px, 72px, -351px, -72px, 50px, 50px, 625px, 605px, '../img-sprite/sprite.png', 'icon_play', );
$icon-plus-name: 'icon_plus';
$icon-plus-x: 595px;
$icon-plus-y: 41px;
$icon-plus-offset-x: -595px;
$icon-plus-offset-y: -41px;
$icon-plus-width: 24px;
$icon-plus-height: 24px;
$icon-plus-total-width: 625px;
$icon-plus-total-height: 605px;
$icon-plus-image: '../img-sprite/sprite.png';
$icon-plus: (595px, 41px, -595px, -41px, 24px, 24px, 625px, 605px, '../img-sprite/sprite.png', 'icon_plus', );
$icon-pop-close-name: 'icon_pop_close';
$icon-pop-close-x: 418px;
$icon-pop-close-y: 442px;
$icon-pop-close-offset-x: -418px;
$icon-pop-close-offset-y: -442px;
$icon-pop-close-width: 12px;
$icon-pop-close-height: 12px;
$icon-pop-close-total-width: 625px;
$icon-pop-close-total-height: 605px;
$icon-pop-close-image: '../img-sprite/sprite.png';
$icon-pop-close: (418px, 442px, -418px, -442px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_pop_close', );
$icon-prev-off-name: 'icon_prev_off';
$icon-prev-off-x: 411px;
$icon-prev-off-y: 97px;
$icon-prev-off-offset-x: -411px;
$icon-prev-off-offset-y: -97px;
$icon-prev-off-width: 9px;
$icon-prev-off-height: 12px;
$icon-prev-off-total-width: 625px;
$icon-prev-off-total-height: 605px;
$icon-prev-off-image: '../img-sprite/sprite.png';
$icon-prev-off: (411px, 97px, -411px, -97px, 9px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_prev_off', );
$icon-prev-on-name: 'icon_prev_on';
$icon-prev-on-x: 182px;
$icon-prev-on-y: 564px;
$icon-prev-on-offset-x: -182px;
$icon-prev-on-offset-y: -564px;
$icon-prev-on-width: 9px;
$icon-prev-on-height: 12px;
$icon-prev-on-total-width: 625px;
$icon-prev-on-total-height: 605px;
$icon-prev-on-image: '../img-sprite/sprite.png';
$icon-prev-on: (182px, 564px, -182px, -564px, 9px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_prev_on', );
$icon-question-name: 'icon_question';
$icon-question-x: 308px;
$icon-question-y: 469px;
$icon-question-offset-x: -308px;
$icon-question-offset-y: -469px;
$icon-question-width: 39px;
$icon-question-height: 39px;
$icon-question-total-width: 625px;
$icon-question-total-height: 605px;
$icon-question-image: '../img-sprite/sprite.png';
$icon-question: (308px, 469px, -308px, -469px, 39px, 39px, 625px, 605px, '../img-sprite/sprite.png', 'icon_question', );
$icon-question2-name: 'icon_question2';
$icon-question2-x: 595px;
$icon-question2-y: 267px;
$icon-question2-offset-x: -595px;
$icon-question2-offset-y: -267px;
$icon-question2-width: 20px;
$icon-question2-height: 20px;
$icon-question2-total-width: 625px;
$icon-question2-total-height: 605px;
$icon-question2-image: '../img-sprite/sprite.png';
$icon-question2: (595px, 267px, -595px, -267px, 20px, 20px, 625px, 605px, '../img-sprite/sprite.png', 'icon_question2', );
$icon-refresh-blue-name: 'icon_refresh_blue';
$icon-refresh-blue-x: 265px;
$icon-refresh-blue-y: 442px;
$icon-refresh-blue-offset-x: -265px;
$icon-refresh-blue-offset-y: -442px;
$icon-refresh-blue-width: 16px;
$icon-refresh-blue-height: 14px;
$icon-refresh-blue-total-width: 625px;
$icon-refresh-blue-total-height: 605px;
$icon-refresh-blue-image: '../img-sprite/sprite.png';
$icon-refresh-blue: (265px, 442px, -265px, -442px, 16px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon_refresh_blue', );
$icon-setting-name: 'icon_setting';
$icon-setting-x: 595px;
$icon-setting-y: 237px;
$icon-setting-offset-x: -595px;
$icon-setting-offset-y: -237px;
$icon-setting-width: 20px;
$icon-setting-height: 20px;
$icon-setting-total-width: 625px;
$icon-setting-total-height: 605px;
$icon-setting-image: '../img-sprite/sprite.png';
$icon-setting: (595px, 237px, -595px, -237px, 20px, 20px, 625px, 605px, '../img-sprite/sprite.png', 'icon_setting', );
$icon-toast-name: 'icon_toast';
$icon-toast-x: 595px;
$icon-toast-y: 327px;
$icon-toast-offset-x: -595px;
$icon-toast-offset-y: -327px;
$icon-toast-width: 20px;
$icon-toast-height: 20px;
$icon-toast-total-width: 625px;
$icon-toast-total-height: 605px;
$icon-toast-image: '../img-sprite/sprite.png';
$icon-toast: (595px, 327px, -595px, -327px, 20px, 20px, 625px, 605px, '../img-sprite/sprite.png', 'icon_toast', );
$icon-toast-close-name: 'icon_toast_close';
$icon-toast-close-x: 134px;
$icon-toast-close-y: 422px;
$icon-toast-close-offset-x: -134px;
$icon-toast-close-offset-y: -422px;
$icon-toast-close-width: 10px;
$icon-toast-close-height: 10px;
$icon-toast-close-total-width: 625px;
$icon-toast-close-total-height: 605px;
$icon-toast-close-image: '../img-sprite/sprite.png';
$icon-toast-close: (134px, 422px, -134px, -422px, 10px, 10px, 625px, 605px, '../img-sprite/sprite.png', 'icon_toast_close', );
$icon-top-01-off-name: 'icon_top_01_off';
$icon-top-01-off-x: 484px;
$icon-top-01-off-y: 442px;
$icon-top-01-off-offset-x: -484px;
$icon-top-01-off-offset-y: -442px;
$icon-top-01-off-width: 12px;
$icon-top-01-off-height: 12px;
$icon-top-01-off-total-width: 625px;
$icon-top-01-off-total-height: 605px;
$icon-top-01-off-image: '../img-sprite/sprite.png';
$icon-top-01-off: (484px, 442px, -484px, -442px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_01_off', );
$icon-top-01-on-name: 'icon_top_01_on';
$icon-top-01-on-x: 462px;
$icon-top-01-on-y: 442px;
$icon-top-01-on-offset-x: -462px;
$icon-top-01-on-offset-y: -442px;
$icon-top-01-on-width: 12px;
$icon-top-01-on-height: 12px;
$icon-top-01-on-total-width: 625px;
$icon-top-01-on-total-height: 605px;
$icon-top-01-on-image: '../img-sprite/sprite.png';
$icon-top-01-on: (462px, 442px, -462px, -442px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_01_on', );
$icon-top-02-off-name: 'icon_top_02_off';
$icon-top-02-off-x: 119px;
$icon-top-02-off-y: 564px;
$icon-top-02-off-offset-x: -119px;
$icon-top-02-off-offset-y: -564px;
$icon-top-02-off-width: 12px;
$icon-top-02-off-height: 12px;
$icon-top-02-off-total-width: 625px;
$icon-top-02-off-total-height: 605px;
$icon-top-02-off-image: '../img-sprite/sprite.png';
$icon-top-02-off: (119px, 564px, -119px, -564px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_02_off', );
$icon-top-02-on-name: 'icon_top_02_on';
$icon-top-02-on-x: 440px;
$icon-top-02-on-y: 442px;
$icon-top-02-on-offset-x: -440px;
$icon-top-02-on-offset-y: -442px;
$icon-top-02-on-width: 12px;
$icon-top-02-on-height: 12px;
$icon-top-02-on-total-width: 625px;
$icon-top-02-on-total-height: 605px;
$icon-top-02-on-image: '../img-sprite/sprite.png';
$icon-top-02-on: (440px, 442px, -440px, -442px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_02_on', );
$icon-top-03-off-name: 'icon_top_03_off';
$icon-top-03-off-x: 345px;
$icon-top-03-off-y: 442px;
$icon-top-03-off-offset-x: -345px;
$icon-top-03-off-offset-y: -442px;
$icon-top-03-off-width: 15px;
$icon-top-03-off-height: 12px;
$icon-top-03-off-total-width: 625px;
$icon-top-03-off-total-height: 605px;
$icon-top-03-off-image: '../img-sprite/sprite.png';
$icon-top-03-off: (345px, 442px, -345px, -442px, 15px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_03_off', );
$icon-top-03-on-name: 'icon_top_03_on';
$icon-top-03-on-x: 370px;
$icon-top-03-on-y: 442px;
$icon-top-03-on-offset-x: -370px;
$icon-top-03-on-offset-y: -442px;
$icon-top-03-on-width: 15px;
$icon-top-03-on-height: 12px;
$icon-top-03-on-total-width: 625px;
$icon-top-03-on-total-height: 605px;
$icon-top-03-on-image: '../img-sprite/sprite.png';
$icon-top-03-on: (370px, 442px, -370px, -442px, 15px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_03_on', );
$icon-top-04-off-name: 'icon_top_04_off';
$icon-top-04-off-x: 506px;
$icon-top-04-off-y: 442px;
$icon-top-04-off-offset-x: -506px;
$icon-top-04-off-offset-y: -442px;
$icon-top-04-off-width: 12px;
$icon-top-04-off-height: 12px;
$icon-top-04-off-total-width: 625px;
$icon-top-04-off-total-height: 605px;
$icon-top-04-off-image: '../img-sprite/sprite.png';
$icon-top-04-off: (506px, 442px, -506px, -442px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_04_off', );
$icon-top-04-on-name: 'icon_top_04_on';
$icon-top-04-on-x: 97px;
$icon-top-04-on-y: 564px;
$icon-top-04-on-offset-x: -97px;
$icon-top-04-on-offset-y: -564px;
$icon-top-04-on-width: 12px;
$icon-top-04-on-height: 12px;
$icon-top-04-on-total-width: 625px;
$icon-top-04-on-total-height: 605px;
$icon-top-04-on-image: '../img-sprite/sprite.png';
$icon-top-04-on: (97px, 564px, -97px, -564px, 12px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_04_on', );
$icon-top-05-off-name: 'icon_top_05_off';
$icon-top-05-off-x: 24px;
$icon-top-05-off-y: 564px;
$icon-top-05-off-offset-x: -24px;
$icon-top-05-off-offset-y: -564px;
$icon-top-05-off-width: 15px;
$icon-top-05-off-height: 13px;
$icon-top-05-off-total-width: 625px;
$icon-top-05-off-total-height: 605px;
$icon-top-05-off-image: '../img-sprite/sprite.png';
$icon-top-05-off: (24px, 564px, -24px, -564px, 15px, 13px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_05_off', );
$icon-top-05-on-name: 'icon_top_05_on';
$icon-top-05-on-x: 49px;
$icon-top-05-on-y: 564px;
$icon-top-05-on-offset-x: -49px;
$icon-top-05-on-offset-y: -564px;
$icon-top-05-on-width: 15px;
$icon-top-05-on-height: 13px;
$icon-top-05-on-total-width: 625px;
$icon-top-05-on-total-height: 605px;
$icon-top-05-on-image: '../img-sprite/sprite.png';
$icon-top-05-on: (49px, 564px, -49px, -564px, 15px, 13px, 625px, 605px, '../img-sprite/sprite.png', 'icon_top_05_on', );
$icon-twitter-off-name: 'icon_twitter_off';
$icon-twitter-off-x: 565px;
$icon-twitter-off-y: 138px;
$icon-twitter-off-offset-x: -565px;
$icon-twitter-off-offset-y: -138px;
$icon-twitter-off-width: 18px;
$icon-twitter-off-height: 14px;
$icon-twitter-off-total-width: 625px;
$icon-twitter-off-total-height: 605px;
$icon-twitter-off-image: '../img-sprite/sprite.png';
$icon-twitter-off: (565px, 138px, -565px, -138px, 18px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon_twitter_off', );
$icon-twitter-on-name: 'icon_twitter_on';
$icon-twitter-on-x: 565px;
$icon-twitter-on-y: 191px;
$icon-twitter-on-offset-x: -565px;
$icon-twitter-on-offset-y: -191px;
$icon-twitter-on-width: 18px;
$icon-twitter-on-height: 14px;
$icon-twitter-on-total-width: 625px;
$icon-twitter-on-total-height: 605px;
$icon-twitter-on-image: '../img-sprite/sprite.png';
$icon-twitter-on: (565px, 191px, -565px, -191px, 18px, 14px, 625px, 605px, '../img-sprite/sprite.png', 'icon_twitter_on', );
$icon-unfold-name: 'icon_unfold';
$icon-unfold-x: 530px;
$icon-unfold-y: 109px;
$icon-unfold-offset-x: -530px;
$icon-unfold-offset-y: -109px;
$icon-unfold-width: 25px;
$icon-unfold-height: 43px;
$icon-unfold-total-width: 625px;
$icon-unfold-total-height: 605px;
$icon-unfold-image: '../img-sprite/sprite.png';
$icon-unfold: (530px, 109px, -530px, -109px, 25px, 43px, 625px, 605px, '../img-sprite/sprite.png', 'icon_unfold', );
$icon-youtube-off-name: 'icon_youtube_off';
$icon-youtube-off-x: 291px;
$icon-youtube-off-y: 442px;
$icon-youtube-off-offset-x: -291px;
$icon-youtube-off-offset-y: -442px;
$icon-youtube-off-width: 17px;
$icon-youtube-off-height: 12px;
$icon-youtube-off-total-width: 625px;
$icon-youtube-off-total-height: 605px;
$icon-youtube-off-image: '../img-sprite/sprite.png';
$icon-youtube-off: (291px, 442px, -291px, -442px, 17px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_youtube_off', );
$icon-youtube-on-name: 'icon_youtube_on';
$icon-youtube-on-x: 318px;
$icon-youtube-on-y: 442px;
$icon-youtube-on-offset-x: -318px;
$icon-youtube-on-offset-y: -442px;
$icon-youtube-on-width: 17px;
$icon-youtube-on-height: 12px;
$icon-youtube-on-total-width: 625px;
$icon-youtube-on-total-height: 605px;
$icon-youtube-on-image: '../img-sprite/sprite.png';
$icon-youtube-on: (318px, 442px, -318px, -442px, 17px, 12px, 625px, 605px, '../img-sprite/sprite.png', 'icon_youtube_on', );
$loading-02-name: 'loading_02';
$loading-02-x: 530px;
$loading-02-y: 64px;
$loading-02-offset-x: -530px;
$loading-02-offset-y: -64px;
$loading-02-width: 35px;
$loading-02-height: 35px;
$loading-02-total-width: 625px;
$loading-02-total-height: 605px;
$loading-02-image: '../img-sprite/sprite.png';
$loading-02: (530px, 64px, -530px, -64px, 35px, 35px, 625px, 605px, '../img-sprite/sprite.png', 'loading_02', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 72px;
$logo-offset-x: 0px;
$logo-offset-y: -72px;
$logo-width: 341px;
$logo-height: 70px;
$logo-total-width: 625px;
$logo-total-height: 605px;
$logo-image: '../img-sprite/sprite.png';
$logo: (0px, 72px, 0px, -72px, 341px, 70px, 625px, 605px, '../img-sprite/sprite.png', 'logo', );
$logo-login-name: 'logo_login';
$logo-login-x: 110px;
$logo-login-y: 272px;
$logo-login-offset-x: -110px;
$logo-login-offset-y: -272px;
$logo-login-width: 194px;
$logo-login-height: 48px;
$logo-login-total-width: 625px;
$logo-login-total-height: 605px;
$logo-login-image: '../img-sprite/sprite.png';
$logo-login: (110px, 272px, -110px, -272px, 194px, 48px, 625px, 605px, '../img-sprite/sprite.png', 'logo_login', );
$logo-top-name: 'logo_top';
$logo-top-x: 245px;
$logo-top-y: 382px;
$logo-top-offset-x: -245px;
$logo-top-offset-y: -382px;
$logo-top-width: 135px;
$logo-top-height: 19px;
$logo-top-total-width: 625px;
$logo-top-total-height: 605px;
$logo-top-image: '../img-sprite/sprite.png';
$logo-top: (245px, 382px, -245px, -382px, 135px, 19px, 625px, 605px, '../img-sprite/sprite.png', 'logo_top', );
$pacth-fire-name: 'pacth_fire';
$pacth-fire-x: 430px;
$pacth-fire-y: 105px;
$pacth-fire-offset-x: -430px;
$pacth-fire-offset-y: -105px;
$pacth-fire-width: 83px;
$pacth-fire-height: 87px;
$pacth-fire-total-width: 625px;
$pacth-fire-total-height: 605px;
$pacth-fire-image: '../img-sprite/sprite.png';
$pacth-fire: (430px, 105px, -430px, -105px, 83px, 87px, 625px, 605px, '../img-sprite/sprite.png', 'pacth_fire', );
$spritesheet-width: 625px;
$spritesheet-height: 605px;
$spritesheet-image: '../img-sprite/sprite.png';
$spritesheet-sprites: ($bg-btn-effect, $bg-btn-effect2, $bg-checkbox-off, $bg-checkbox-on, $bg-overwrite-off, $bg-overwrite-on, $bg-select-off, $bg-select-on, $bg-tooltip, $btn-dx-disabled, $btn-dx-off, $btn-dx-on, $btn-login-off, $btn-login-on, $btn-ok-off, $btn-ok-on, $btn-play-w, $btn-refresh-off, $btn-refresh-on, $btn-rfrsh, $btn-setting-off, $btn-setting-on, $btn-sound-off, $btn-sound-on, $btn-unfold, $chk-off, $chk-on, $fire-off, $fire-on, $ico-actoz, $ico-bg, $ico-butler, $ico-cart, $ico-close, $ico-coupon, $ico-crystal, $ico-eveitem, $ico-fb-off, $ico-fb-on, $ico-ff14-off, $ico-ff14-on, $ico-fixed, $ico-fold, $ico-friend, $ico-gift, $ico-impact, $ico-ing, $ico-inst-off, $ico-inst-on, $ico-kakao, $ico-loading-02, $ico-loading-03, $ico-loading-04, $ico-na-off, $ico-na-on, $ico-naver, $ico-nexon, $ico-pcroom, $ico-regular, $ico-small, $ico-sns-off, $ico-sns-on, $ico-stop, $ico-tw-off, $ico-tw-on, $ico-unfold, $ico-update, $ico-user-new, $ico-user-return, $ico-yt-off, $ico-yt-on, $icon-link-off, $icon-link-on, $icon-beginner-off, $icon-beginner-on, $icon-checkhome-off, $icon-checkhome-on, $icon-exclamation, $icon-facebook-off, $icon-facebook-on, $icon-ffweb-off, $icon-ffweb-on, $icon-fire-small, $icon-fold, $icon-ing, $icon-insta-off, $icon-insta-on, $icon-logout-off, $icon-logout-on, $icon-minus, $icon-next-off, $icon-next-on, $icon-official-off, $icon-official-on, $icon-pc, $icon-play, $icon-plus, $icon-pop-close, $icon-prev-off, $icon-prev-on, $icon-question, $icon-question2, $icon-refresh-blue, $icon-setting, $icon-toast, $icon-toast-close, $icon-top-01-off, $icon-top-01-on, $icon-top-02-off, $icon-top-02-on, $icon-top-03-off, $icon-top-03-on, $icon-top-04-off, $icon-top-04-on, $icon-top-05-off, $icon-top-05-on, $icon-twitter-off, $icon-twitter-on, $icon-unfold, $icon-youtube-off, $icon-youtube-on, $loading-02, $logo, $logo-login, $logo-top, $pacth-fire, );
$spritesheet: (625px, 605px, '../img-sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
