// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-btn-effect-name: 'bg_btn_effect';
$bg-btn-effect-x: 0px;
$bg-btn-effect-y: 310px;
$bg-btn-effect-offset-x: 0px;
$bg-btn-effect-offset-y: -310px;
$bg-btn-effect-width: 124px;
$bg-btn-effect-height: 50px;
$bg-btn-effect-total-width: 568px;
$bg-btn-effect-total-height: 554px;
$bg-btn-effect-image: '../img-sprite/sprite.png';
$bg-btn-effect: (0px, 310px, 0px, -310px, 124px, 50px, 568px, 554px, '../img-sprite/sprite.png', 'bg_btn_effect', );
$bg-btn-effect2-name: 'bg_btn_effect2';
$bg-btn-effect2-x: 0px;
$bg-btn-effect2-y: 200px;
$bg-btn-effect2-offset-x: 0px;
$bg-btn-effect2-offset-y: -200px;
$bg-btn-effect2-width: 100px;
$bg-btn-effect2-height: 100px;
$bg-btn-effect2-total-width: 568px;
$bg-btn-effect2-total-height: 554px;
$bg-btn-effect2-image: '../img-sprite/sprite.png';
$bg-btn-effect2: (0px, 200px, 0px, -200px, 100px, 100px, 568px, 554px, '../img-sprite/sprite.png', 'bg_btn_effect2', );
$bg-checkbox-off-name: 'bg_checkbox_off';
$bg-checkbox-off-x: 24px;
$bg-checkbox-off-y: 540px;
$bg-checkbox-off-offset-x: -24px;
$bg-checkbox-off-offset-y: -540px;
$bg-checkbox-off-width: 14px;
$bg-checkbox-off-height: 14px;
$bg-checkbox-off-total-width: 568px;
$bg-checkbox-off-total-height: 554px;
$bg-checkbox-off-image: '../img-sprite/sprite.png';
$bg-checkbox-off: (24px, 540px, -24px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'bg_checkbox_off', );
$bg-checkbox-on-name: 'bg_checkbox_on';
$bg-checkbox-on-x: 72px;
$bg-checkbox-on-y: 540px;
$bg-checkbox-on-offset-x: -72px;
$bg-checkbox-on-offset-y: -540px;
$bg-checkbox-on-width: 14px;
$bg-checkbox-on-height: 14px;
$bg-checkbox-on-total-width: 568px;
$bg-checkbox-on-total-height: 554px;
$bg-checkbox-on-image: '../img-sprite/sprite.png';
$bg-checkbox-on: (72px, 540px, -72px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'bg_checkbox_on', );
$bg-overwrite-off-name: 'bg_overwrite_off';
$bg-overwrite-off-x: 356px;
$bg-overwrite-off-y: 438px;
$bg-overwrite-off-offset-x: -356px;
$bg-overwrite-off-offset-y: -438px;
$bg-overwrite-off-width: 20px;
$bg-overwrite-off-height: 20px;
$bg-overwrite-off-total-width: 568px;
$bg-overwrite-off-total-height: 554px;
$bg-overwrite-off-image: '../img-sprite/sprite.png';
$bg-overwrite-off: (356px, 438px, -356px, -438px, 20px, 20px, 568px, 554px, '../img-sprite/sprite.png', 'bg_overwrite_off', );
$bg-overwrite-on-name: 'bg_overwrite_on';
$bg-overwrite-on-x: 386px;
$bg-overwrite-on-y: 438px;
$bg-overwrite-on-offset-x: -386px;
$bg-overwrite-on-offset-y: -438px;
$bg-overwrite-on-width: 20px;
$bg-overwrite-on-height: 20px;
$bg-overwrite-on-total-width: 568px;
$bg-overwrite-on-total-height: 554px;
$bg-overwrite-on-image: '../img-sprite/sprite.png';
$bg-overwrite-on: (386px, 438px, -386px, -438px, 20px, 20px, 568px, 554px, '../img-sprite/sprite.png', 'bg_overwrite_on', );
$bg-select-off-name: 'bg_select_off';
$bg-select-off-x: 476px;
$bg-select-off-y: 417px;
$bg-select-off-offset-x: -476px;
$bg-select-off-offset-y: -417px;
$bg-select-off-width: 15px;
$bg-select-off-height: 10px;
$bg-select-off-total-width: 568px;
$bg-select-off-total-height: 554px;
$bg-select-off-image: '../img-sprite/sprite.png';
$bg-select-off: (476px, 417px, -476px, -417px, 15px, 10px, 568px, 554px, '../img-sprite/sprite.png', 'bg_select_off', );
$bg-select-on-name: 'bg_select_on';
$bg-select-on-x: 451px;
$bg-select-on-y: 417px;
$bg-select-on-offset-x: -451px;
$bg-select-on-offset-y: -417px;
$bg-select-on-width: 15px;
$bg-select-on-height: 10px;
$bg-select-on-total-width: 568px;
$bg-select-on-total-height: 554px;
$bg-select-on-image: '../img-sprite/sprite.png';
$bg-select-on: (451px, 417px, -451px, -417px, 15px, 10px, 568px, 554px, '../img-sprite/sprite.png', 'bg_select_on', );
$btn-dx-disabled-name: 'btn_dx_disabled';
$btn-dx-disabled-x: 356px;
$btn-dx-disabled-y: 310px;
$btn-dx-disabled-offset-x: -356px;
$btn-dx-disabled-offset-y: -310px;
$btn-dx-disabled-width: 55px;
$btn-dx-disabled-height: 22px;
$btn-dx-disabled-total-width: 568px;
$btn-dx-disabled-total-height: 554px;
$btn-dx-disabled-image: '../img-sprite/sprite.png';
$btn-dx-disabled: (356px, 310px, -356px, -310px, 55px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'btn_dx_disabled', );
$btn-dx-off-name: 'btn_dx_off';
$btn-dx-off-x: 65px;
$btn-dx-off-y: 438px;
$btn-dx-off-offset-x: -65px;
$btn-dx-off-offset-y: -438px;
$btn-dx-off-width: 55px;
$btn-dx-off-height: 22px;
$btn-dx-off-total-width: 568px;
$btn-dx-off-total-height: 554px;
$btn-dx-off-image: '../img-sprite/sprite.png';
$btn-dx-off: (65px, 438px, -65px, -438px, 55px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'btn_dx_off', );
$btn-dx-on-name: 'btn_dx_on';
$btn-dx-on-x: 0px;
$btn-dx-on-y: 438px;
$btn-dx-on-offset-x: 0px;
$btn-dx-on-offset-y: -438px;
$btn-dx-on-width: 55px;
$btn-dx-on-height: 22px;
$btn-dx-on-total-width: 568px;
$btn-dx-on-total-height: 554px;
$btn-dx-on-image: '../img-sprite/sprite.png';
$btn-dx-on: (0px, 438px, 0px, -438px, 55px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'btn_dx_on', );
$btn-login-off-name: 'btn_login_off';
$btn-login-off-x: 0px;
$btn-login-off-y: 140px;
$btn-login-off-offset-x: 0px;
$btn-login-off-offset-y: -140px;
$btn-login-off-width: 300px;
$btn-login-off-height: 50px;
$btn-login-off-total-width: 568px;
$btn-login-off-total-height: 554px;
$btn-login-off-image: '../img-sprite/sprite.png';
$btn-login-off: (0px, 140px, 0px, -140px, 300px, 50px, 568px, 554px, '../img-sprite/sprite.png', 'btn_login_off', );
$btn-login-on-name: 'btn_login_on';
$btn-login-on-x: 0px;
$btn-login-on-y: 80px;
$btn-login-on-offset-x: 0px;
$btn-login-on-offset-y: -80px;
$btn-login-on-width: 300px;
$btn-login-on-height: 50px;
$btn-login-on-total-width: 568px;
$btn-login-on-total-height: 554px;
$btn-login-on-image: '../img-sprite/sprite.png';
$btn-login-on: (0px, 80px, 0px, -80px, 300px, 50px, 568px, 554px, '../img-sprite/sprite.png', 'btn_login_on', );
$btn-ok-off-name: 'btn_ok_off';
$btn-ok-off-x: 220px;
$btn-ok-off-y: 258px;
$btn-ok-off-offset-x: -220px;
$btn-ok-off-offset-y: -258px;
$btn-ok-off-width: 100px;
$btn-ok-off-height: 40px;
$btn-ok-off-total-width: 568px;
$btn-ok-off-total-height: 554px;
$btn-ok-off-image: '../img-sprite/sprite.png';
$btn-ok-off: (220px, 258px, -220px, -258px, 100px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_ok_off', );
$btn-ok-on-name: 'btn_ok_on';
$btn-ok-on-x: 110px;
$btn-ok-on-y: 258px;
$btn-ok-on-offset-x: -110px;
$btn-ok-on-offset-y: -258px;
$btn-ok-on-width: 100px;
$btn-ok-on-height: 40px;
$btn-ok-on-total-width: 568px;
$btn-ok-on-total-height: 554px;
$btn-ok-on-image: '../img-sprite/sprite.png';
$btn-ok-on: (110px, 258px, -110px, -258px, 100px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_ok_on', );
$btn-play-w-name: 'btn_play_w';
$btn-play-w-x: 556px;
$btn-play-w-y: 120px;
$btn-play-w-offset-x: -556px;
$btn-play-w-offset-y: -120px;
$btn-play-w-width: 11px;
$btn-play-w-height: 17px;
$btn-play-w-total-width: 568px;
$btn-play-w-total-height: 554px;
$btn-play-w-image: '../img-sprite/sprite.png';
$btn-play-w: (556px, 120px, -556px, -120px, 11px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'btn_play_w', );
$btn-refresh-off-name: 'btn_refresh_off';
$btn-refresh-off-x: 451px;
$btn-refresh-off-y: 268px;
$btn-refresh-off-offset-x: -451px;
$btn-refresh-off-offset-y: -268px;
$btn-refresh-off-width: 40px;
$btn-refresh-off-height: 40px;
$btn-refresh-off-total-width: 568px;
$btn-refresh-off-total-height: 554px;
$btn-refresh-off-image: '../img-sprite/sprite.png';
$btn-refresh-off: (451px, 268px, -451px, -268px, 40px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_refresh_off', );
$btn-refresh-on-name: 'btn_refresh_on';
$btn-refresh-on-x: 451px;
$btn-refresh-on-y: 218px;
$btn-refresh-on-offset-x: -451px;
$btn-refresh-on-offset-y: -218px;
$btn-refresh-on-width: 40px;
$btn-refresh-on-height: 40px;
$btn-refresh-on-total-width: 568px;
$btn-refresh-on-total-height: 554px;
$btn-refresh-on-image: '../img-sprite/sprite.png';
$btn-refresh-on: (451px, 218px, -451px, -218px, 40px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_refresh_on', );
$btn-rfrsh-name: 'btn_rfrsh';
$btn-rfrsh-x: 220px;
$btn-rfrsh-y: 511px;
$btn-rfrsh-offset-x: -220px;
$btn-rfrsh-offset-y: -511px;
$btn-rfrsh-width: 16px;
$btn-rfrsh-height: 14px;
$btn-rfrsh-total-width: 568px;
$btn-rfrsh-total-height: 554px;
$btn-rfrsh-image: '../img-sprite/sprite.png';
$btn-rfrsh: (220px, 511px, -220px, -511px, 16px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'btn_rfrsh', );
$btn-setting-off-name: 'btn_setting_off';
$btn-setting-off-x: 130px;
$btn-setting-off-y: 438px;
$btn-setting-off-offset-x: -130px;
$btn-setting-off-offset-y: -438px;
$btn-setting-off-width: 55px;
$btn-setting-off-height: 22px;
$btn-setting-off-total-width: 568px;
$btn-setting-off-total-height: 554px;
$btn-setting-off-image: '../img-sprite/sprite.png';
$btn-setting-off: (130px, 438px, -130px, -438px, 55px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'btn_setting_off', );
$btn-setting-on-name: 'btn_setting_on';
$btn-setting-on-x: 195px;
$btn-setting-on-y: 438px;
$btn-setting-on-offset-x: -195px;
$btn-setting-on-offset-y: -438px;
$btn-setting-on-width: 55px;
$btn-setting-on-height: 22px;
$btn-setting-on-total-width: 568px;
$btn-setting-on-total-height: 554px;
$btn-setting-on-image: '../img-sprite/sprite.png';
$btn-setting-on: (195px, 438px, -195px, -438px, 55px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'btn_setting_on', );
$btn-sound-off-name: 'btn_sound_off';
$btn-sound-off-x: 451px;
$btn-sound-off-y: 168px;
$btn-sound-off-offset-x: -451px;
$btn-sound-off-offset-y: -168px;
$btn-sound-off-width: 40px;
$btn-sound-off-height: 40px;
$btn-sound-off-total-width: 568px;
$btn-sound-off-total-height: 554px;
$btn-sound-off-image: '../img-sprite/sprite.png';
$btn-sound-off: (451px, 168px, -451px, -168px, 40px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_sound_off', );
$btn-sound-on-name: 'btn_sound_on';
$btn-sound-on-x: 451px;
$btn-sound-on-y: 318px;
$btn-sound-on-offset-x: -451px;
$btn-sound-on-offset-y: -318px;
$btn-sound-on-width: 40px;
$btn-sound-on-height: 40px;
$btn-sound-on-total-width: 568px;
$btn-sound-on-total-height: 554px;
$btn-sound-on-image: '../img-sprite/sprite.png';
$btn-sound-on: (451px, 318px, -451px, -318px, 40px, 40px, 568px, 554px, '../img-sprite/sprite.png', 'btn_sound_on', );
$btn-unfold-name: 'btn_unfold';
$btn-unfold-x: 194px;
$btn-unfold-y: 540px;
$btn-unfold-offset-x: -194px;
$btn-unfold-offset-y: -540px;
$btn-unfold-width: 13px;
$btn-unfold-height: 13px;
$btn-unfold-total-width: 568px;
$btn-unfold-total-height: 554px;
$btn-unfold-image: '../img-sprite/sprite.png';
$btn-unfold: (194px, 540px, -194px, -540px, 13px, 13px, 568px, 554px, '../img-sprite/sprite.png', 'btn_unfold', );
$chk-off-name: 'chk_off';
$chk-off-x: 120px;
$chk-off-y: 540px;
$chk-off-offset-x: -120px;
$chk-off-offset-y: -540px;
$chk-off-width: 14px;
$chk-off-height: 14px;
$chk-off-total-width: 568px;
$chk-off-total-height: 554px;
$chk-off-image: '../img-sprite/sprite.png';
$chk-off: (120px, 540px, -120px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'chk_off', );
$chk-on-name: 'chk_on';
$chk-on-x: 96px;
$chk-on-y: 540px;
$chk-on-offset-x: -96px;
$chk-on-offset-y: -540px;
$chk-on-width: 14px;
$chk-on-height: 14px;
$chk-on-total-width: 568px;
$chk-on-total-height: 554px;
$chk-on-image: '../img-sprite/sprite.png';
$chk-on: (96px, 540px, -96px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'chk_on', );
$fire-off-name: 'fire_off';
$fire-off-x: 351px;
$fire-off-y: 0px;
$fire-off-offset-x: -351px;
$fire-off-offset-y: 0px;
$fire-off-width: 90px;
$fire-off-height: 95px;
$fire-off-total-width: 568px;
$fire-off-total-height: 554px;
$fire-off-image: '../img-sprite/sprite.png';
$fire-off: (351px, 0px, -351px, 0px, 90px, 95px, 568px, 554px, '../img-sprite/sprite.png', 'fire_off', );
$fire-on-name: 'fire_on';
$fire-on-x: 351px;
$fire-on-y: 202px;
$fire-on-offset-x: -351px;
$fire-on-offset-y: -202px;
$fire-on-width: 83px;
$fire-on-height: 87px;
$fire-on-total-width: 568px;
$fire-on-total-height: 554px;
$fire-on-image: '../img-sprite/sprite.png';
$fire-on: (351px, 202px, -351px, -202px, 83px, 87px, 568px, 554px, '../img-sprite/sprite.png', 'fire_on', );
$ico-actoz-name: 'ico_actoz';
$ico-actoz-x: 187px;
$ico-actoz-y: 370px;
$ico-actoz-offset-x: -187px;
$ico-actoz-offset-y: -370px;
$ico-actoz-width: 101px;
$ico-actoz-height: 30px;
$ico-actoz-total-width: 568px;
$ico-actoz-total-height: 554px;
$ico-actoz-image: '../img-sprite/sprite.png';
$ico-actoz: (187px, 370px, -187px, -370px, 101px, 30px, 568px, 554px, '../img-sprite/sprite.png', 'ico_actoz', );
$ico-bg-name: 'ico_bg';
$ico-bg-x: 400px;
$ico-bg-y: 470px;
$ico-bg-offset-x: -400px;
$ico-bg-offset-y: -470px;
$ico-bg-width: 30px;
$ico-bg-height: 31px;
$ico-bg-total-width: 568px;
$ico-bg-total-height: 554px;
$ico-bg-image: '../img-sprite/sprite.png';
$ico-bg: (400px, 470px, -400px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_bg', );
$ico-butler-name: 'ico_butler';
$ico-butler-x: 320px;
$ico-butler-y: 470px;
$ico-butler-offset-x: -320px;
$ico-butler-offset-y: -470px;
$ico-butler-width: 30px;
$ico-butler-height: 31px;
$ico-butler-total-width: 568px;
$ico-butler-total-height: 554px;
$ico-butler-image: '../img-sprite/sprite.png';
$ico-butler: (320px, 470px, -320px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_butler', );
$ico-cart-name: 'ico_cart';
$ico-cart-x: 280px;
$ico-cart-y: 470px;
$ico-cart-offset-x: -280px;
$ico-cart-offset-y: -470px;
$ico-cart-width: 30px;
$ico-cart-height: 31px;
$ico-cart-total-width: 568px;
$ico-cart-total-height: 554px;
$ico-cart-image: '../img-sprite/sprite.png';
$ico-cart: (280px, 470px, -280px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_cart', );
$ico-close-name: 'ico_close';
$ico-close-x: 556px;
$ico-close-y: 257px;
$ico-close-offset-x: -556px;
$ico-close-offset-y: -257px;
$ico-close-width: 12px;
$ico-close-height: 12px;
$ico-close-total-width: 568px;
$ico-close-total-height: 554px;
$ico-close-image: '../img-sprite/sprite.png';
$ico-close: (556px, 257px, -556px, -257px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'ico_close', );
$ico-coupon-name: 'ico_coupon';
$ico-coupon-x: 80px;
$ico-coupon-y: 470px;
$ico-coupon-offset-x: -80px;
$ico-coupon-offset-y: -470px;
$ico-coupon-width: 30px;
$ico-coupon-height: 31px;
$ico-coupon-total-width: 568px;
$ico-coupon-total-height: 554px;
$ico-coupon-image: '../img-sprite/sprite.png';
$ico-coupon: (80px, 470px, -80px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_coupon', );
$ico-crystal-name: 'ico_crystal';
$ico-crystal-x: 40px;
$ico-crystal-y: 470px;
$ico-crystal-offset-x: -40px;
$ico-crystal-offset-y: -470px;
$ico-crystal-width: 30px;
$ico-crystal-height: 31px;
$ico-crystal-total-width: 568px;
$ico-crystal-total-height: 554px;
$ico-crystal-image: '../img-sprite/sprite.png';
$ico-crystal: (40px, 470px, -40px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_crystal', );
$ico-eveitem-name: 'ico_eveitem';
$ico-eveitem-x: 0px;
$ico-eveitem-y: 470px;
$ico-eveitem-offset-x: 0px;
$ico-eveitem-offset-y: -470px;
$ico-eveitem-width: 30px;
$ico-eveitem-height: 31px;
$ico-eveitem-total-width: 568px;
$ico-eveitem-total-height: 554px;
$ico-eveitem-image: '../img-sprite/sprite.png';
$ico-eveitem: (0px, 470px, 0px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_eveitem', );
$ico-fb-off-name: 'ico_fb_off';
$ico-fb-off-x: 556px;
$ico-fb-off-y: 62px;
$ico-fb-off-offset-x: -556px;
$ico-fb-off-offset-y: -62px;
$ico-fb-off-width: 12px;
$ico-fb-off-height: 19px;
$ico-fb-off-total-width: 568px;
$ico-fb-off-total-height: 554px;
$ico-fb-off-image: '../img-sprite/sprite.png';
$ico-fb-off: (556px, 62px, -556px, -62px, 12px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_fb_off', );
$ico-fb-on-name: 'ico_fb_on';
$ico-fb-on-x: 556px;
$ico-fb-on-y: 91px;
$ico-fb-on-offset-x: -556px;
$ico-fb-on-offset-y: -91px;
$ico-fb-on-width: 12px;
$ico-fb-on-height: 19px;
$ico-fb-on-total-width: 568px;
$ico-fb-on-total-height: 554px;
$ico-fb-on-image: '../img-sprite/sprite.png';
$ico-fb-on: (556px, 91px, -556px, -91px, 12px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_fb_on', );
$ico-ff14-off-name: 'ico_ff14_off';
$ico-ff14-off-x: 0px;
$ico-ff14-off-y: 511px;
$ico-ff14-off-offset-x: 0px;
$ico-ff14-off-offset-y: -511px;
$ico-ff14-off-width: 18px;
$ico-ff14-off-height: 19px;
$ico-ff14-off-total-width: 568px;
$ico-ff14-off-total-height: 554px;
$ico-ff14-off-image: '../img-sprite/sprite.png';
$ico-ff14-off: (0px, 511px, 0px, -511px, 18px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_ff14_off', );
$ico-ff14-on-name: 'ico_ff14_on';
$ico-ff14-on-x: 446px;
$ico-ff14-on-y: 438px;
$ico-ff14-on-offset-x: -446px;
$ico-ff14-on-offset-y: -438px;
$ico-ff14-on-width: 18px;
$ico-ff14-on-height: 19px;
$ico-ff14-on-total-width: 568px;
$ico-ff14-on-total-height: 554px;
$ico-ff14-on-image: '../img-sprite/sprite.png';
$ico-ff14-on: (446px, 438px, -446px, -438px, 18px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_ff14_on', );
$ico-fixed-name: 'ico_fixed';
$ico-fixed-x: 310px;
$ico-fixed-y: 140px;
$ico-fixed-offset-x: -310px;
$ico-fixed-offset-y: -140px;
$ico-fixed-width: 30px;
$ico-fixed-height: 31px;
$ico-fixed-total-width: 568px;
$ico-fixed-total-height: 554px;
$ico-fixed-image: '../img-sprite/sprite.png';
$ico-fixed: (310px, 140px, -310px, -140px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_fixed', );
$ico-fold-name: 'ico_fold';
$ico-fold-x: 310px;
$ico-fold-y: 181px;
$ico-fold-offset-x: -310px;
$ico-fold-offset-y: -181px;
$ico-fold-width: 13px;
$ico-fold-height: 8px;
$ico-fold-total-width: 568px;
$ico-fold-total-height: 554px;
$ico-fold-image: '../img-sprite/sprite.png';
$ico-fold: (310px, 181px, -310px, -181px, 13px, 8px, 568px, 554px, '../img-sprite/sprite.png', 'ico_fold', );
$ico-friend-name: 'ico_friend';
$ico-friend-x: 310px;
$ico-friend-y: 80px;
$ico-friend-offset-x: -310px;
$ico-friend-offset-y: -80px;
$ico-friend-width: 30px;
$ico-friend-height: 31px;
$ico-friend-total-width: 568px;
$ico-friend-total-height: 554px;
$ico-friend-image: '../img-sprite/sprite.png';
$ico-friend: (310px, 80px, -310px, -80px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_friend', );
$ico-gift-name: 'ico_gift';
$ico-gift-x: 511px;
$ico-gift-y: 397px;
$ico-gift-offset-x: -511px;
$ico-gift-offset-y: -397px;
$ico-gift-width: 30px;
$ico-gift-height: 31px;
$ico-gift-total-width: 568px;
$ico-gift-total-height: 554px;
$ico-gift-image: '../img-sprite/sprite.png';
$ico-gift: (511px, 397px, -511px, -397px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_gift', );
$ico-impact-name: 'ico_impact';
$ico-impact-x: 556px;
$ico-impact-y: 481px;
$ico-impact-offset-x: -556px;
$ico-impact-offset-y: -481px;
$ico-impact-width: 10px;
$ico-impact-height: 10px;
$ico-impact-total-width: 568px;
$ico-impact-total-height: 554px;
$ico-impact-image: '../img-sprite/sprite.png';
$ico-impact: (556px, 481px, -556px, -481px, 10px, 10px, 568px, 554px, '../img-sprite/sprite.png', 'ico_impact', );
$ico-ing-name: 'ico_ing';
$ico-ing-x: 260px;
$ico-ing-y: 438px;
$ico-ing-offset-x: -260px;
$ico-ing-offset-y: -438px;
$ico-ing-width: 22px;
$ico-ing-height: 22px;
$ico-ing-total-width: 568px;
$ico-ing-total-height: 554px;
$ico-ing-image: '../img-sprite/sprite.png';
$ico-ing: (260px, 438px, -260px, -438px, 22px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'ico_ing', );
$ico-inst-off-name: 'ico_inst_off';
$ico-inst-off-x: 165px;
$ico-inst-off-y: 511px;
$ico-inst-off-offset-x: -165px;
$ico-inst-off-offset-y: -511px;
$ico-inst-off-width: 17px;
$ico-inst-off-height: 19px;
$ico-inst-off-total-width: 568px;
$ico-inst-off-total-height: 554px;
$ico-inst-off-image: '../img-sprite/sprite.png';
$ico-inst-off: (165px, 511px, -165px, -511px, 17px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_inst_off', );
$ico-inst-on-name: 'ico_inst_on';
$ico-inst-on-x: 138px;
$ico-inst-on-y: 511px;
$ico-inst-on-offset-x: -138px;
$ico-inst-on-offset-y: -511px;
$ico-inst-on-width: 17px;
$ico-inst-on-height: 19px;
$ico-inst-on-total-width: 568px;
$ico-inst-on-total-height: 554px;
$ico-inst-on-image: '../img-sprite/sprite.png';
$ico-inst-on: (138px, 511px, -138px, -511px, 17px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_inst_on', );
$ico-kakao-name: 'ico_kakao';
$ico-kakao-x: 76px;
$ico-kakao-y: 370px;
$ico-kakao-offset-x: -76px;
$ico-kakao-offset-y: -370px;
$ico-kakao-width: 101px;
$ico-kakao-height: 30px;
$ico-kakao-total-width: 568px;
$ico-kakao-total-height: 554px;
$ico-kakao-image: '../img-sprite/sprite.png';
$ico-kakao: (76px, 370px, -76px, -370px, 101px, 30px, 568px, 554px, '../img-sprite/sprite.png', 'ico_kakao', );
$ico-loading-02-name: 'ico_loading_02';
$ico-loading-02-x: 511px;
$ico-loading-02-y: 233px;
$ico-loading-02-offset-x: -511px;
$ico-loading-02-offset-y: -233px;
$ico-loading-02-width: 31px;
$ico-loading-02-height: 31px;
$ico-loading-02-total-width: 568px;
$ico-loading-02-total-height: 554px;
$ico-loading-02-image: '../img-sprite/sprite.png';
$ico-loading-02: (511px, 233px, -511px, -233px, 31px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_loading_02', );
$ico-loading-03-name: 'ico_loading_03';
$ico-loading-03-x: 511px;
$ico-loading-03-y: 192px;
$ico-loading-03-offset-x: -511px;
$ico-loading-03-offset-y: -192px;
$ico-loading-03-width: 31px;
$ico-loading-03-height: 31px;
$ico-loading-03-total-width: 568px;
$ico-loading-03-total-height: 554px;
$ico-loading-03-image: '../img-sprite/sprite.png';
$ico-loading-03: (511px, 192px, -511px, -192px, 31px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_loading_03', );
$ico-loading-04-name: 'ico_loading_04';
$ico-loading-04-x: 511px;
$ico-loading-04-y: 151px;
$ico-loading-04-offset-x: -511px;
$ico-loading-04-offset-y: -151px;
$ico-loading-04-width: 31px;
$ico-loading-04-height: 31px;
$ico-loading-04-total-width: 568px;
$ico-loading-04-total-height: 554px;
$ico-loading-04-image: '../img-sprite/sprite.png';
$ico-loading-04: (511px, 151px, -511px, -151px, 31px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_loading_04', );
$ico-na-off-name: 'ico_na_off';
$ico-na-off-x: 556px;
$ico-na-off-y: 0px;
$ico-na-off-offset-x: -556px;
$ico-na-off-offset-y: 0px;
$ico-na-off-width: 12px;
$ico-na-off-height: 21px;
$ico-na-off-total-width: 568px;
$ico-na-off-total-height: 554px;
$ico-na-off-image: '../img-sprite/sprite.png';
$ico-na-off: (556px, 0px, -556px, 0px, 12px, 21px, 568px, 554px, '../img-sprite/sprite.png', 'ico_na_off', );
$ico-na-on-name: 'ico_na_on';
$ico-na-on-x: 556px;
$ico-na-on-y: 31px;
$ico-na-on-offset-x: -556px;
$ico-na-on-offset-y: -31px;
$ico-na-on-width: 12px;
$ico-na-on-height: 21px;
$ico-na-on-total-width: 568px;
$ico-na-on-total-height: 554px;
$ico-na-on-image: '../img-sprite/sprite.png';
$ico-na-on: (556px, 31px, -556px, -31px, 12px, 21px, 568px, 554px, '../img-sprite/sprite.png', 'ico_na_on', );
$ico-naver-name: 'ico_naver';
$ico-naver-x: 245px;
$ico-naver-y: 310px;
$ico-naver-offset-x: -245px;
$ico-naver-offset-y: -310px;
$ico-naver-width: 101px;
$ico-naver-height: 30px;
$ico-naver-total-width: 568px;
$ico-naver-total-height: 554px;
$ico-naver-image: '../img-sprite/sprite.png';
$ico-naver: (245px, 310px, -245px, -310px, 101px, 30px, 568px, 554px, '../img-sprite/sprite.png', 'ico_naver', );
$ico-nexon-name: 'ico_nexon';
$ico-nexon-x: 134px;
$ico-nexon-y: 310px;
$ico-nexon-offset-x: -134px;
$ico-nexon-offset-y: -310px;
$ico-nexon-width: 101px;
$ico-nexon-height: 30px;
$ico-nexon-total-width: 568px;
$ico-nexon-total-height: 554px;
$ico-nexon-image: '../img-sprite/sprite.png';
$ico-nexon: (134px, 310px, -134px, -310px, 101px, 30px, 568px, 554px, '../img-sprite/sprite.png', 'ico_nexon', );
$ico-pcroom-name: 'ico_pcroom';
$ico-pcroom-x: 334px;
$ico-pcroom-y: 410px;
$ico-pcroom-offset-x: -334px;
$ico-pcroom-offset-y: -410px;
$ico-pcroom-width: 46px;
$ico-pcroom-height: 17px;
$ico-pcroom-total-width: 568px;
$ico-pcroom-total-height: 554px;
$ico-pcroom-image: '../img-sprite/sprite.png';
$ico-pcroom: (334px, 410px, -334px, -410px, 46px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'ico_pcroom', );
$ico-regular-name: 'ico_regular';
$ico-regular-x: 511px;
$ico-regular-y: 274px;
$ico-regular-offset-x: -511px;
$ico-regular-offset-y: -274px;
$ico-regular-width: 30px;
$ico-regular-height: 31px;
$ico-regular-total-width: 568px;
$ico-regular-total-height: 554px;
$ico-regular-image: '../img-sprite/sprite.png';
$ico-regular: (511px, 274px, -511px, -274px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_regular', );
$ico-small-name: 'ico_small';
$ico-small-x: 426px;
$ico-small-y: 511px;
$ico-small-offset-x: -426px;
$ico-small-offset-y: -511px;
$ico-small-width: 13px;
$ico-small-height: 12px;
$ico-small-total-width: 568px;
$ico-small-total-height: 554px;
$ico-small-image: '../img-sprite/sprite.png';
$ico-small: (426px, 511px, -426px, -511px, 13px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'ico_small', );
$ico-sns-off-name: 'ico_sns_off';
$ico-sns-off-x: 76px;
$ico-sns-off-y: 410px;
$ico-sns-off-offset-x: -76px;
$ico-sns-off-offset-y: -410px;
$ico-sns-off-width: 119px;
$ico-sns-off-height: 17px;
$ico-sns-off-total-width: 568px;
$ico-sns-off-total-height: 554px;
$ico-sns-off-image: '../img-sprite/sprite.png';
$ico-sns-off: (76px, 410px, -76px, -410px, 119px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'ico_sns_off', );
$ico-sns-on-name: 'ico_sns_on';
$ico-sns-on-x: 205px;
$ico-sns-on-y: 410px;
$ico-sns-on-offset-x: -205px;
$ico-sns-on-offset-y: -410px;
$ico-sns-on-width: 119px;
$ico-sns-on-height: 17px;
$ico-sns-on-total-width: 568px;
$ico-sns-on-total-height: 554px;
$ico-sns-on-image: '../img-sprite/sprite.png';
$ico-sns-on: (205px, 410px, -205px, -410px, 119px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'ico_sns_on', );
$ico-stop-name: 'ico_stop';
$ico-stop-x: 324px;
$ico-stop-y: 438px;
$ico-stop-offset-x: -324px;
$ico-stop-offset-y: -438px;
$ico-stop-width: 22px;
$ico-stop-height: 22px;
$ico-stop-total-width: 568px;
$ico-stop-total-height: 554px;
$ico-stop-image: '../img-sprite/sprite.png';
$ico-stop: (324px, 438px, -324px, -438px, 22px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'ico_stop', );
$ico-tw-off-name: 'ico_tw_off';
$ico-tw-off-x: 474px;
$ico-tw-off-y: 438px;
$ico-tw-off-offset-x: -474px;
$ico-tw-off-offset-y: -438px;
$ico-tw-off-width: 18px;
$ico-tw-off-height: 19px;
$ico-tw-off-total-width: 568px;
$ico-tw-off-total-height: 554px;
$ico-tw-off-image: '../img-sprite/sprite.png';
$ico-tw-off: (474px, 438px, -474px, -438px, 18px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_tw_off', );
$ico-tw-on-name: 'ico_tw_on';
$ico-tw-on-x: 56px;
$ico-tw-on-y: 511px;
$ico-tw-on-offset-x: -56px;
$ico-tw-on-offset-y: -511px;
$ico-tw-on-width: 18px;
$ico-tw-on-height: 19px;
$ico-tw-on-total-width: 568px;
$ico-tw-on-total-height: 554px;
$ico-tw-on-image: '../img-sprite/sprite.png';
$ico-tw-on: (56px, 511px, -56px, -511px, 18px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_tw_on', );
$ico-unfold-name: 'ico_unfold';
$ico-unfold-x: 310px;
$ico-unfold-y: 121px;
$ico-unfold-offset-x: -310px;
$ico-unfold-offset-y: -121px;
$ico-unfold-width: 13px;
$ico-unfold-height: 8px;
$ico-unfold-total-width: 568px;
$ico-unfold-total-height: 554px;
$ico-unfold-image: '../img-sprite/sprite.png';
$ico-unfold: (310px, 121px, -310px, -121px, 13px, 8px, 568px, 554px, '../img-sprite/sprite.png', 'ico_unfold', );
$ico-update-name: 'ico_update';
$ico-update-x: 292px;
$ico-update-y: 438px;
$ico-update-offset-x: -292px;
$ico-update-offset-y: -438px;
$ico-update-width: 22px;
$ico-update-height: 22px;
$ico-update-total-width: 568px;
$ico-update-total-height: 554px;
$ico-update-image: '../img-sprite/sprite.png';
$ico-update: (292px, 438px, -292px, -438px, 22px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'ico_update', );
$ico-user-new-name: 'ico_user_new';
$ico-user-new-x: 360px;
$ico-user-new-y: 470px;
$ico-user-new-offset-x: -360px;
$ico-user-new-offset-y: -470px;
$ico-user-new-width: 30px;
$ico-user-new-height: 31px;
$ico-user-new-total-width: 568px;
$ico-user-new-total-height: 554px;
$ico-user-new-image: '../img-sprite/sprite.png';
$ico-user-new: (360px, 470px, -360px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_user_new', );
$ico-user-return-name: 'ico_user_return';
$ico-user-return-x: 120px;
$ico-user-return-y: 470px;
$ico-user-return-offset-x: -120px;
$ico-user-return-offset-y: -470px;
$ico-user-return-width: 30px;
$ico-user-return-height: 31px;
$ico-user-return-total-width: 568px;
$ico-user-return-total-height: 554px;
$ico-user-return-image: '../img-sprite/sprite.png';
$ico-user-return: (120px, 470px, -120px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'ico_user_return', );
$ico-yt-off-name: 'ico_yt_off';
$ico-yt-off-x: 84px;
$ico-yt-off-y: 511px;
$ico-yt-off-offset-x: -84px;
$ico-yt-off-offset-y: -511px;
$ico-yt-off-width: 17px;
$ico-yt-off-height: 19px;
$ico-yt-off-total-width: 568px;
$ico-yt-off-total-height: 554px;
$ico-yt-off-image: '../img-sprite/sprite.png';
$ico-yt-off: (84px, 511px, -84px, -511px, 17px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_yt_off', );
$ico-yt-on-name: 'ico_yt_on';
$ico-yt-on-x: 111px;
$ico-yt-on-y: 511px;
$ico-yt-on-offset-x: -111px;
$ico-yt-on-offset-y: -511px;
$ico-yt-on-width: 17px;
$ico-yt-on-height: 19px;
$ico-yt-on-total-width: 568px;
$ico-yt-on-total-height: 554px;
$ico-yt-on-image: '../img-sprite/sprite.png';
$ico-yt-on: (111px, 511px, -111px, -511px, 17px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'ico_yt_on', );
$icon-link-off-name: 'icon-link-off';
$icon-link-off-x: 297px;
$icon-link-off-y: 511px;
$icon-link-off-offset-x: -297px;
$icon-link-off-offset-y: -511px;
$icon-link-off-width: 15px;
$icon-link-off-height: 14px;
$icon-link-off-total-width: 568px;
$icon-link-off-total-height: 554px;
$icon-link-off-image: '../img-sprite/sprite.png';
$icon-link-off: (297px, 511px, -297px, -511px, 15px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon-link-off', );
$icon-link-on-name: 'icon-link-on';
$icon-link-on-x: 272px;
$icon-link-on-y: 511px;
$icon-link-on-offset-x: -272px;
$icon-link-on-offset-y: -511px;
$icon-link-on-width: 15px;
$icon-link-on-height: 14px;
$icon-link-on-total-width: 568px;
$icon-link-on-total-height: 554px;
$icon-link-on-image: '../img-sprite/sprite.png';
$icon-link-on: (272px, 511px, -272px, -511px, 15px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon-link-on', );
$icon-beginner-off-name: 'icon_beginner_off';
$icon-beginner-off-x: 480px;
$icon-beginner-off-y: 470px;
$icon-beginner-off-offset-x: -480px;
$icon-beginner-off-offset-y: -470px;
$icon-beginner-off-width: 30px;
$icon-beginner-off-height: 31px;
$icon-beginner-off-total-width: 568px;
$icon-beginner-off-total-height: 554px;
$icon-beginner-off-image: '../img-sprite/sprite.png';
$icon-beginner-off: (480px, 470px, -480px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_beginner_off', );
$icon-beginner-on-name: 'icon_beginner_on';
$icon-beginner-on-x: 440px;
$icon-beginner-on-y: 470px;
$icon-beginner-on-offset-x: -440px;
$icon-beginner-on-offset-y: -470px;
$icon-beginner-on-width: 30px;
$icon-beginner-on-height: 31px;
$icon-beginner-on-total-width: 568px;
$icon-beginner-on-total-height: 554px;
$icon-beginner-on-image: '../img-sprite/sprite.png';
$icon-beginner-on: (440px, 470px, -440px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_beginner_on', );
$icon-checkhome-off-name: 'icon_checkhome_off';
$icon-checkhome-off-x: 451px;
$icon-checkhome-off-y: 114px;
$icon-checkhome-off-offset-x: -451px;
$icon-checkhome-off-offset-y: -114px;
$icon-checkhome-off-width: 44px;
$icon-checkhome-off-height: 44px;
$icon-checkhome-off-total-width: 568px;
$icon-checkhome-off-total-height: 554px;
$icon-checkhome-off-image: '../img-sprite/sprite.png';
$icon-checkhome-off: (451px, 114px, -451px, -114px, 44px, 44px, 568px, 554px, '../img-sprite/sprite.png', 'icon_checkhome_off', );
$icon-checkhome-on-name: 'icon_checkhome_on';
$icon-checkhome-on-x: 451px;
$icon-checkhome-on-y: 60px;
$icon-checkhome-on-offset-x: -451px;
$icon-checkhome-on-offset-y: -60px;
$icon-checkhome-on-width: 44px;
$icon-checkhome-on-height: 44px;
$icon-checkhome-on-total-width: 568px;
$icon-checkhome-on-total-height: 554px;
$icon-checkhome-on-image: '../img-sprite/sprite.png';
$icon-checkhome-on: (451px, 60px, -451px, -60px, 44px, 44px, 568px, 554px, '../img-sprite/sprite.png', 'icon_checkhome_on', );
$icon-exclamation-name: 'icon_exclamation';
$icon-exclamation-x: 0px;
$icon-exclamation-y: 370px;
$icon-exclamation-offset-x: 0px;
$icon-exclamation-offset-y: -370px;
$icon-exclamation-width: 66px;
$icon-exclamation-height: 58px;
$icon-exclamation-total-width: 568px;
$icon-exclamation-total-height: 554px;
$icon-exclamation-image: '../img-sprite/sprite.png';
$icon-exclamation: (0px, 370px, 0px, -370px, 66px, 58px, 568px, 554px, '../img-sprite/sprite.png', 'icon_exclamation', );
$icon-facebook-off-name: 'icon_facebook_off';
$icon-facebook-off-x: 556px;
$icon-facebook-off-y: 348px;
$icon-facebook-off-offset-x: -556px;
$icon-facebook-off-offset-y: -348px;
$icon-facebook-off-width: 8px;
$icon-facebook-off-height: 15px;
$icon-facebook-off-total-width: 568px;
$icon-facebook-off-total-height: 554px;
$icon-facebook-off-image: '../img-sprite/sprite.png';
$icon-facebook-off: (556px, 348px, -556px, -348px, 8px, 15px, 568px, 554px, '../img-sprite/sprite.png', 'icon_facebook_off', );
$icon-facebook-on-name: 'icon_facebook_on';
$icon-facebook-on-x: 556px;
$icon-facebook-on-y: 323px;
$icon-facebook-on-offset-x: -556px;
$icon-facebook-on-offset-y: -323px;
$icon-facebook-on-width: 8px;
$icon-facebook-on-height: 15px;
$icon-facebook-on-total-width: 568px;
$icon-facebook-on-total-height: 554px;
$icon-facebook-on-image: '../img-sprite/sprite.png';
$icon-facebook-on: (556px, 323px, -556px, -323px, 8px, 15px, 568px, 554px, '../img-sprite/sprite.png', 'icon_facebook_on', );
$icon-ffweb-off-name: 'icon_ffweb_off';
$icon-ffweb-off-x: 511px;
$icon-ffweb-off-y: 315px;
$icon-ffweb-off-offset-x: -511px;
$icon-ffweb-off-offset-y: -315px;
$icon-ffweb-off-width: 30px;
$icon-ffweb-off-height: 31px;
$icon-ffweb-off-total-width: 568px;
$icon-ffweb-off-total-height: 554px;
$icon-ffweb-off-image: '../img-sprite/sprite.png';
$icon-ffweb-off: (511px, 315px, -511px, -315px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_ffweb_off', );
$icon-ffweb-on-name: 'icon_ffweb_on';
$icon-ffweb-on-x: 511px;
$icon-ffweb-on-y: 356px;
$icon-ffweb-on-offset-x: -511px;
$icon-ffweb-on-offset-y: -356px;
$icon-ffweb-on-width: 30px;
$icon-ffweb-on-height: 31px;
$icon-ffweb-on-total-width: 568px;
$icon-ffweb-on-total-height: 554px;
$icon-ffweb-on-image: '../img-sprite/sprite.png';
$icon-ffweb-on: (511px, 356px, -511px, -356px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_ffweb_on', );
$icon-fire-small-name: 'icon_fire_small';
$icon-fire-small-x: 28px;
$icon-fire-small-y: 511px;
$icon-fire-small-offset-x: -28px;
$icon-fire-small-offset-y: -511px;
$icon-fire-small-width: 18px;
$icon-fire-small-height: 19px;
$icon-fire-small-total-width: 568px;
$icon-fire-small-total-height: 554px;
$icon-fire-small-image: '../img-sprite/sprite.png';
$icon-fire-small: (28px, 511px, -28px, -511px, 18px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'icon_fire_small', );
$icon-fold-name: 'icon_fold';
$icon-fold-x: 511px;
$icon-fold-y: 45px;
$icon-fold-offset-x: -511px;
$icon-fold-offset-y: -45px;
$icon-fold-width: 25px;
$icon-fold-height: 43px;
$icon-fold-total-width: 568px;
$icon-fold-total-height: 554px;
$icon-fold-image: '../img-sprite/sprite.png';
$icon-fold: (511px, 45px, -511px, -45px, 25px, 43px, 568px, 554px, '../img-sprite/sprite.png', 'icon_fold', );
$icon-ing-name: 'icon_ing';
$icon-ing-x: 511px;
$icon-ing-y: 438px;
$icon-ing-offset-x: -511px;
$icon-ing-offset-y: -438px;
$icon-ing-width: 22px;
$icon-ing-height: 22px;
$icon-ing-total-width: 568px;
$icon-ing-total-height: 554px;
$icon-ing-image: '../img-sprite/sprite.png';
$icon-ing: (511px, 438px, -511px, -438px, 22px, 22px, 568px, 554px, '../img-sprite/sprite.png', 'icon_ing', );
$icon-insta-off-name: 'icon_insta_off';
$icon-insta-off-x: 417px;
$icon-insta-off-y: 410px;
$icon-insta-off-offset-x: -417px;
$icon-insta-off-offset-y: -410px;
$icon-insta-off-width: 17px;
$icon-insta-off-height: 17px;
$icon-insta-off-total-width: 568px;
$icon-insta-off-total-height: 554px;
$icon-insta-off-image: '../img-sprite/sprite.png';
$icon-insta-off: (417px, 410px, -417px, -410px, 17px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'icon_insta_off', );
$icon-insta-on-name: 'icon_insta_on';
$icon-insta-on-x: 390px;
$icon-insta-on-y: 410px;
$icon-insta-on-offset-x: -390px;
$icon-insta-on-offset-y: -410px;
$icon-insta-on-width: 17px;
$icon-insta-on-height: 17px;
$icon-insta-on-total-width: 568px;
$icon-insta-on-total-height: 554px;
$icon-insta-on-image: '../img-sprite/sprite.png';
$icon-insta-on: (390px, 410px, -390px, -410px, 17px, 17px, 568px, 554px, '../img-sprite/sprite.png', 'icon_insta_on', );
$icon-logout-off-name: 'icon_logout_off';
$icon-logout-off-x: 0px;
$icon-logout-off-y: 540px;
$icon-logout-off-offset-x: 0px;
$icon-logout-off-offset-y: -540px;
$icon-logout-off-width: 14px;
$icon-logout-off-height: 14px;
$icon-logout-off-total-width: 568px;
$icon-logout-off-total-height: 554px;
$icon-logout-off-image: '../img-sprite/sprite.png';
$icon-logout-off: (0px, 540px, 0px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon_logout_off', );
$icon-logout-on-name: 'icon_logout_on';
$icon-logout-on-x: 48px;
$icon-logout-on-y: 540px;
$icon-logout-on-offset-x: -48px;
$icon-logout-on-offset-y: -540px;
$icon-logout-on-width: 14px;
$icon-logout-on-height: 14px;
$icon-logout-on-total-width: 568px;
$icon-logout-on-total-height: 554px;
$icon-logout-on-image: '../img-sprite/sprite.png';
$icon-logout-on: (48px, 540px, -48px, -540px, 14px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon_logout_on', );
$icon-minus-name: 'icon_minus';
$icon-minus-x: 520px;
$icon-minus-y: 470px;
$icon-minus-offset-x: -520px;
$icon-minus-offset-y: -470px;
$icon-minus-width: 24px;
$icon-minus-height: 24px;
$icon-minus-total-width: 568px;
$icon-minus-total-height: 554px;
$icon-minus-image: '../img-sprite/sprite.png';
$icon-minus: (520px, 470px, -520px, -470px, 24px, 24px, 568px, 554px, '../img-sprite/sprite.png', 'icon_minus', );
$icon-next-off-name: 'icon_next_off';
$icon-next-off-x: 556px;
$icon-next-off-y: 395px;
$icon-next-off-offset-x: -556px;
$icon-next-off-offset-y: -395px;
$icon-next-off-width: 9px;
$icon-next-off-height: 12px;
$icon-next-off-total-width: 568px;
$icon-next-off-total-height: 554px;
$icon-next-off-image: '../img-sprite/sprite.png';
$icon-next-off: (556px, 395px, -556px, -395px, 9px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_next_off', );
$icon-next-on-name: 'icon_next_on';
$icon-next-on-x: 556px;
$icon-next-on-y: 373px;
$icon-next-on-offset-x: -556px;
$icon-next-on-offset-y: -373px;
$icon-next-on-width: 9px;
$icon-next-on-height: 12px;
$icon-next-on-total-width: 568px;
$icon-next-on-total-height: 554px;
$icon-next-on-image: '../img-sprite/sprite.png';
$icon-next-on: (556px, 373px, -556px, -373px, 9px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_next_on', );
$icon-official-off-name: 'icon_official_off';
$icon-official-off-x: 160px;
$icon-official-off-y: 470px;
$icon-official-off-offset-x: -160px;
$icon-official-off-offset-y: -470px;
$icon-official-off-width: 30px;
$icon-official-off-height: 31px;
$icon-official-off-total-width: 568px;
$icon-official-off-total-height: 554px;
$icon-official-off-image: '../img-sprite/sprite.png';
$icon-official-off: (160px, 470px, -160px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_official_off', );
$icon-official-on-name: 'icon_official_on';
$icon-official-on-x: 200px;
$icon-official-on-y: 470px;
$icon-official-on-offset-x: -200px;
$icon-official-on-offset-y: -470px;
$icon-official-on-width: 30px;
$icon-official-on-height: 31px;
$icon-official-on-total-width: 568px;
$icon-official-on-total-height: 554px;
$icon-official-on-image: '../img-sprite/sprite.png';
$icon-official-on: (200px, 470px, -200px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_official_on', );
$icon-pc-name: 'icon_pc';
$icon-pc-x: 240px;
$icon-pc-y: 470px;
$icon-pc-offset-x: -240px;
$icon-pc-offset-y: -470px;
$icon-pc-width: 30px;
$icon-pc-height: 31px;
$icon-pc-total-width: 568px;
$icon-pc-total-height: 554px;
$icon-pc-image: '../img-sprite/sprite.png';
$icon-pc: (240px, 470px, -240px, -470px, 30px, 31px, 568px, 554px, '../img-sprite/sprite.png', 'icon_pc', );
$icon-play-name: 'icon_play';
$icon-play-x: 451px;
$icon-play-y: 0px;
$icon-play-offset-x: -451px;
$icon-play-offset-y: 0px;
$icon-play-width: 50px;
$icon-play-height: 50px;
$icon-play-total-width: 568px;
$icon-play-total-height: 554px;
$icon-play-image: '../img-sprite/sprite.png';
$icon-play: (451px, 0px, -451px, 0px, 50px, 50px, 568px, 554px, '../img-sprite/sprite.png', 'icon_play', );
$icon-plus-name: 'icon_plus';
$icon-plus-x: 314px;
$icon-plus-y: 200px;
$icon-plus-offset-x: -314px;
$icon-plus-offset-y: -200px;
$icon-plus-width: 24px;
$icon-plus-height: 24px;
$icon-plus-total-width: 568px;
$icon-plus-total-height: 554px;
$icon-plus-image: '../img-sprite/sprite.png';
$icon-plus: (314px, 200px, -314px, -200px, 24px, 24px, 568px, 554px, '../img-sprite/sprite.png', 'icon_plus', );
$icon-pop-close-name: 'icon_pop_close';
$icon-pop-close-x: 556px;
$icon-pop-close-y: 301px;
$icon-pop-close-offset-x: -556px;
$icon-pop-close-offset-y: -301px;
$icon-pop-close-width: 12px;
$icon-pop-close-height: 12px;
$icon-pop-close-total-width: 568px;
$icon-pop-close-total-height: 554px;
$icon-pop-close-image: '../img-sprite/sprite.png';
$icon-pop-close: (556px, 301px, -556px, -301px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_pop_close', );
$icon-prev-off-name: 'icon_prev_off';
$icon-prev-off-x: 556px;
$icon-prev-off-y: 417px;
$icon-prev-off-offset-x: -556px;
$icon-prev-off-offset-y: -417px;
$icon-prev-off-width: 9px;
$icon-prev-off-height: 12px;
$icon-prev-off-total-width: 568px;
$icon-prev-off-total-height: 554px;
$icon-prev-off-image: '../img-sprite/sprite.png';
$icon-prev-off: (556px, 417px, -556px, -417px, 9px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_prev_off', );
$icon-prev-on-name: 'icon_prev_on';
$icon-prev-on-x: 556px;
$icon-prev-on-y: 439px;
$icon-prev-on-offset-x: -556px;
$icon-prev-on-offset-y: -439px;
$icon-prev-on-width: 9px;
$icon-prev-on-height: 12px;
$icon-prev-on-total-width: 568px;
$icon-prev-on-total-height: 554px;
$icon-prev-on-image: '../img-sprite/sprite.png';
$icon-prev-on: (556px, 439px, -556px, -439px, 9px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_prev_on', );
$icon-question-name: 'icon_question';
$icon-question-x: 451px;
$icon-question-y: 368px;
$icon-question-offset-x: -451px;
$icon-question-offset-y: -368px;
$icon-question-width: 39px;
$icon-question-height: 39px;
$icon-question-total-width: 568px;
$icon-question-total-height: 554px;
$icon-question-image: '../img-sprite/sprite.png';
$icon-question: (451px, 368px, -451px, -368px, 39px, 39px, 568px, 554px, '../img-sprite/sprite.png', 'icon_question', );
$icon-refresh-blue-name: 'icon_refresh_blue';
$icon-refresh-blue-x: 246px;
$icon-refresh-blue-y: 511px;
$icon-refresh-blue-offset-x: -246px;
$icon-refresh-blue-offset-y: -511px;
$icon-refresh-blue-width: 16px;
$icon-refresh-blue-height: 14px;
$icon-refresh-blue-total-width: 568px;
$icon-refresh-blue-total-height: 554px;
$icon-refresh-blue-image: '../img-sprite/sprite.png';
$icon-refresh-blue: (246px, 511px, -246px, -511px, 16px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon_refresh_blue', );
$icon-setting-name: 'icon_setting';
$icon-setting-x: 421px;
$icon-setting-y: 310px;
$icon-setting-offset-x: -421px;
$icon-setting-offset-y: -310px;
$icon-setting-width: 20px;
$icon-setting-height: 20px;
$icon-setting-total-width: 568px;
$icon-setting-total-height: 554px;
$icon-setting-image: '../img-sprite/sprite.png';
$icon-setting: (421px, 310px, -421px, -310px, 20px, 20px, 568px, 554px, '../img-sprite/sprite.png', 'icon_setting', );
$icon-toast-name: 'icon_toast';
$icon-toast-x: 416px;
$icon-toast-y: 438px;
$icon-toast-offset-x: -416px;
$icon-toast-offset-y: -438px;
$icon-toast-width: 20px;
$icon-toast-height: 20px;
$icon-toast-total-width: 568px;
$icon-toast-total-height: 554px;
$icon-toast-image: '../img-sprite/sprite.png';
$icon-toast: (416px, 438px, -416px, -438px, 20px, 20px, 568px, 554px, '../img-sprite/sprite.png', 'icon_toast', );
$icon-toast-close-name: 'icon_toast_close';
$icon-toast-close-x: 556px;
$icon-toast-close-y: 461px;
$icon-toast-close-offset-x: -556px;
$icon-toast-close-offset-y: -461px;
$icon-toast-close-width: 10px;
$icon-toast-close-height: 10px;
$icon-toast-close-total-width: 568px;
$icon-toast-close-total-height: 554px;
$icon-toast-close-image: '../img-sprite/sprite.png';
$icon-toast-close: (556px, 461px, -556px, -461px, 10px, 10px, 568px, 554px, '../img-sprite/sprite.png', 'icon_toast_close', );
$icon-top-01-off-name: 'icon_top_01_off';
$icon-top-01-off-x: 556px;
$icon-top-01-off-y: 147px;
$icon-top-01-off-offset-x: -556px;
$icon-top-01-off-offset-y: -147px;
$icon-top-01-off-width: 12px;
$icon-top-01-off-height: 12px;
$icon-top-01-off-total-width: 568px;
$icon-top-01-off-total-height: 554px;
$icon-top-01-off-image: '../img-sprite/sprite.png';
$icon-top-01-off: (556px, 147px, -556px, -147px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_01_off', );
$icon-top-01-on-name: 'icon_top_01_on';
$icon-top-01-on-x: 556px;
$icon-top-01-on-y: 213px;
$icon-top-01-on-offset-x: -556px;
$icon-top-01-on-offset-y: -213px;
$icon-top-01-on-width: 12px;
$icon-top-01-on-height: 12px;
$icon-top-01-on-total-width: 568px;
$icon-top-01-on-total-height: 554px;
$icon-top-01-on-image: '../img-sprite/sprite.png';
$icon-top-01-on: (556px, 213px, -556px, -213px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_01_on', );
$icon-top-02-off-name: 'icon_top_02_off';
$icon-top-02-off-x: 556px;
$icon-top-02-off-y: 191px;
$icon-top-02-off-offset-x: -556px;
$icon-top-02-off-offset-y: -191px;
$icon-top-02-off-width: 12px;
$icon-top-02-off-height: 12px;
$icon-top-02-off-total-width: 568px;
$icon-top-02-off-total-height: 554px;
$icon-top-02-off-image: '../img-sprite/sprite.png';
$icon-top-02-off: (556px, 191px, -556px, -191px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_02_off', );
$icon-top-02-on-name: 'icon_top_02_on';
$icon-top-02-on-x: 556px;
$icon-top-02-on-y: 169px;
$icon-top-02-on-offset-x: -556px;
$icon-top-02-on-offset-y: -169px;
$icon-top-02-on-width: 12px;
$icon-top-02-on-height: 12px;
$icon-top-02-on-total-width: 568px;
$icon-top-02-on-total-height: 554px;
$icon-top-02-on-image: '../img-sprite/sprite.png';
$icon-top-02-on: (556px, 169px, -556px, -169px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_02_on', );
$icon-top-03-off-name: 'icon_top_03_off';
$icon-top-03-off-x: 376px;
$icon-top-03-off-y: 511px;
$icon-top-03-off-offset-x: -376px;
$icon-top-03-off-offset-y: -511px;
$icon-top-03-off-width: 15px;
$icon-top-03-off-height: 12px;
$icon-top-03-off-total-width: 568px;
$icon-top-03-off-total-height: 554px;
$icon-top-03-off-image: '../img-sprite/sprite.png';
$icon-top-03-off: (376px, 511px, -376px, -511px, 15px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_03_off', );
$icon-top-03-on-name: 'icon_top_03_on';
$icon-top-03-on-x: 401px;
$icon-top-03-on-y: 511px;
$icon-top-03-on-offset-x: -401px;
$icon-top-03-on-offset-y: -511px;
$icon-top-03-on-width: 15px;
$icon-top-03-on-height: 12px;
$icon-top-03-on-total-width: 568px;
$icon-top-03-on-total-height: 554px;
$icon-top-03-on-image: '../img-sprite/sprite.png';
$icon-top-03-on: (401px, 511px, -401px, -511px, 15px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_03_on', );
$icon-top-04-off-name: 'icon_top_04_off';
$icon-top-04-off-x: 556px;
$icon-top-04-off-y: 279px;
$icon-top-04-off-offset-x: -556px;
$icon-top-04-off-offset-y: -279px;
$icon-top-04-off-width: 12px;
$icon-top-04-off-height: 12px;
$icon-top-04-off-total-width: 568px;
$icon-top-04-off-total-height: 554px;
$icon-top-04-off-image: '../img-sprite/sprite.png';
$icon-top-04-off: (556px, 279px, -556px, -279px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_04_off', );
$icon-top-04-on-name: 'icon_top_04_on';
$icon-top-04-on-x: 556px;
$icon-top-04-on-y: 235px;
$icon-top-04-on-offset-x: -556px;
$icon-top-04-on-offset-y: -235px;
$icon-top-04-on-width: 12px;
$icon-top-04-on-height: 12px;
$icon-top-04-on-total-width: 568px;
$icon-top-04-on-total-height: 554px;
$icon-top-04-on-image: '../img-sprite/sprite.png';
$icon-top-04-on: (556px, 235px, -556px, -235px, 12px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_04_on', );
$icon-top-05-off-name: 'icon_top_05_off';
$icon-top-05-off-x: 144px;
$icon-top-05-off-y: 540px;
$icon-top-05-off-offset-x: -144px;
$icon-top-05-off-offset-y: -540px;
$icon-top-05-off-width: 15px;
$icon-top-05-off-height: 13px;
$icon-top-05-off-total-width: 568px;
$icon-top-05-off-total-height: 554px;
$icon-top-05-off-image: '../img-sprite/sprite.png';
$icon-top-05-off: (144px, 540px, -144px, -540px, 15px, 13px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_05_off', );
$icon-top-05-on-name: 'icon_top_05_on';
$icon-top-05-on-x: 169px;
$icon-top-05-on-y: 540px;
$icon-top-05-on-offset-x: -169px;
$icon-top-05-on-offset-y: -540px;
$icon-top-05-on-width: 15px;
$icon-top-05-on-height: 13px;
$icon-top-05-on-total-width: 568px;
$icon-top-05-on-total-height: 554px;
$icon-top-05-on-image: '../img-sprite/sprite.png';
$icon-top-05-on: (169px, 540px, -169px, -540px, 15px, 13px, 568px, 554px, '../img-sprite/sprite.png', 'icon_top_05_on', );
$icon-twitter-off-name: 'icon_twitter_off';
$icon-twitter-off-x: 314px;
$icon-twitter-off-y: 234px;
$icon-twitter-off-offset-x: -314px;
$icon-twitter-off-offset-y: -234px;
$icon-twitter-off-width: 18px;
$icon-twitter-off-height: 14px;
$icon-twitter-off-total-width: 568px;
$icon-twitter-off-total-height: 554px;
$icon-twitter-off-image: '../img-sprite/sprite.png';
$icon-twitter-off: (314px, 234px, -314px, -234px, 18px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon_twitter_off', );
$icon-twitter-on-name: 'icon_twitter_on';
$icon-twitter-on-x: 192px;
$icon-twitter-on-y: 511px;
$icon-twitter-on-offset-x: -192px;
$icon-twitter-on-offset-y: -511px;
$icon-twitter-on-width: 18px;
$icon-twitter-on-height: 14px;
$icon-twitter-on-total-width: 568px;
$icon-twitter-on-total-height: 554px;
$icon-twitter-on-image: '../img-sprite/sprite.png';
$icon-twitter-on: (192px, 511px, -192px, -511px, 18px, 14px, 568px, 554px, '../img-sprite/sprite.png', 'icon_twitter_on', );
$icon-unfold-name: 'icon_unfold';
$icon-unfold-x: 511px;
$icon-unfold-y: 98px;
$icon-unfold-offset-x: -511px;
$icon-unfold-offset-y: -98px;
$icon-unfold-width: 25px;
$icon-unfold-height: 43px;
$icon-unfold-total-width: 568px;
$icon-unfold-total-height: 554px;
$icon-unfold-image: '../img-sprite/sprite.png';
$icon-unfold: (511px, 98px, -511px, -98px, 25px, 43px, 568px, 554px, '../img-sprite/sprite.png', 'icon_unfold', );
$icon-youtube-off-name: 'icon_youtube_off';
$icon-youtube-off-x: 349px;
$icon-youtube-off-y: 511px;
$icon-youtube-off-offset-x: -349px;
$icon-youtube-off-offset-y: -511px;
$icon-youtube-off-width: 17px;
$icon-youtube-off-height: 12px;
$icon-youtube-off-total-width: 568px;
$icon-youtube-off-total-height: 554px;
$icon-youtube-off-image: '../img-sprite/sprite.png';
$icon-youtube-off: (349px, 511px, -349px, -511px, 17px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_youtube_off', );
$icon-youtube-on-name: 'icon_youtube_on';
$icon-youtube-on-x: 322px;
$icon-youtube-on-y: 511px;
$icon-youtube-on-offset-x: -322px;
$icon-youtube-on-offset-y: -511px;
$icon-youtube-on-width: 17px;
$icon-youtube-on-height: 12px;
$icon-youtube-on-total-width: 568px;
$icon-youtube-on-total-height: 554px;
$icon-youtube-on-image: '../img-sprite/sprite.png';
$icon-youtube-on: (322px, 511px, -322px, -511px, 17px, 12px, 568px, 554px, '../img-sprite/sprite.png', 'icon_youtube_on', );
$loading-02-name: 'loading_02';
$loading-02-x: 511px;
$loading-02-y: 0px;
$loading-02-offset-x: -511px;
$loading-02-offset-y: 0px;
$loading-02-width: 35px;
$loading-02-height: 35px;
$loading-02-total-width: 568px;
$loading-02-total-height: 554px;
$loading-02-image: '../img-sprite/sprite.png';
$loading-02: (511px, 0px, -511px, 0px, 35px, 35px, 568px, 554px, '../img-sprite/sprite.png', 'loading_02', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 341px;
$logo-height: 70px;
$logo-total-width: 568px;
$logo-total-height: 554px;
$logo-image: '../img-sprite/sprite.png';
$logo: (0px, 0px, 0px, 0px, 341px, 70px, 568px, 554px, '../img-sprite/sprite.png', 'logo', );
$logo-login-name: 'logo_login';
$logo-login-x: 110px;
$logo-login-y: 200px;
$logo-login-offset-x: -110px;
$logo-login-offset-y: -200px;
$logo-login-width: 194px;
$logo-login-height: 48px;
$logo-login-total-width: 568px;
$logo-login-total-height: 554px;
$logo-login-image: '../img-sprite/sprite.png';
$logo-login: (110px, 200px, -110px, -200px, 194px, 48px, 568px, 554px, '../img-sprite/sprite.png', 'logo_login', );
$logo-top-name: 'logo_top';
$logo-top-x: 298px;
$logo-top-y: 370px;
$logo-top-offset-x: -298px;
$logo-top-offset-y: -370px;
$logo-top-width: 135px;
$logo-top-height: 19px;
$logo-top-total-width: 568px;
$logo-top-total-height: 554px;
$logo-top-image: '../img-sprite/sprite.png';
$logo-top: (298px, 370px, -298px, -370px, 135px, 19px, 568px, 554px, '../img-sprite/sprite.png', 'logo_top', );
$pacth-fire-name: 'pacth_fire';
$pacth-fire-x: 351px;
$pacth-fire-y: 105px;
$pacth-fire-offset-x: -351px;
$pacth-fire-offset-y: -105px;
$pacth-fire-width: 83px;
$pacth-fire-height: 87px;
$pacth-fire-total-width: 568px;
$pacth-fire-total-height: 554px;
$pacth-fire-image: '../img-sprite/sprite.png';
$pacth-fire: (351px, 105px, -351px, -105px, 83px, 87px, 568px, 554px, '../img-sprite/sprite.png', 'pacth_fire', );
$spritesheet-width: 568px;
$spritesheet-height: 554px;
$spritesheet-image: '../img-sprite/sprite.png';
$spritesheet-sprites: ($bg-btn-effect, $bg-btn-effect2, $bg-checkbox-off, $bg-checkbox-on, $bg-overwrite-off, $bg-overwrite-on, $bg-select-off, $bg-select-on, $btn-dx-disabled, $btn-dx-off, $btn-dx-on, $btn-login-off, $btn-login-on, $btn-ok-off, $btn-ok-on, $btn-play-w, $btn-refresh-off, $btn-refresh-on, $btn-rfrsh, $btn-setting-off, $btn-setting-on, $btn-sound-off, $btn-sound-on, $btn-unfold, $chk-off, $chk-on, $fire-off, $fire-on, $ico-actoz, $ico-bg, $ico-butler, $ico-cart, $ico-close, $ico-coupon, $ico-crystal, $ico-eveitem, $ico-fb-off, $ico-fb-on, $ico-ff14-off, $ico-ff14-on, $ico-fixed, $ico-fold, $ico-friend, $ico-gift, $ico-impact, $ico-ing, $ico-inst-off, $ico-inst-on, $ico-kakao, $ico-loading-02, $ico-loading-03, $ico-loading-04, $ico-na-off, $ico-na-on, $ico-naver, $ico-nexon, $ico-pcroom, $ico-regular, $ico-small, $ico-sns-off, $ico-sns-on, $ico-stop, $ico-tw-off, $ico-tw-on, $ico-unfold, $ico-update, $ico-user-new, $ico-user-return, $ico-yt-off, $ico-yt-on, $icon-link-off, $icon-link-on, $icon-beginner-off, $icon-beginner-on, $icon-checkhome-off, $icon-checkhome-on, $icon-exclamation, $icon-facebook-off, $icon-facebook-on, $icon-ffweb-off, $icon-ffweb-on, $icon-fire-small, $icon-fold, $icon-ing, $icon-insta-off, $icon-insta-on, $icon-logout-off, $icon-logout-on, $icon-minus, $icon-next-off, $icon-next-on, $icon-official-off, $icon-official-on, $icon-pc, $icon-play, $icon-plus, $icon-pop-close, $icon-prev-off, $icon-prev-on, $icon-question, $icon-refresh-blue, $icon-setting, $icon-toast, $icon-toast-close, $icon-top-01-off, $icon-top-01-on, $icon-top-02-off, $icon-top-02-on, $icon-top-03-off, $icon-top-03-on, $icon-top-04-off, $icon-top-04-on, $icon-top-05-off, $icon-top-05-on, $icon-twitter-off, $icon-twitter-on, $icon-unfold, $icon-youtube-off, $icon-youtube-on, $loading-02, $logo, $logo-login, $logo-top, $pacth-fire, );
$spritesheet: (568px, 554px, '../img-sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
